{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="container-header"></div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-12 py-5 text-center">
        <h1 class="h1 mx-auto rounded" id="about-heading">
            About
        </h1>
    </div>
</div>

<div class="row text-center mb-5">
    <div class="col-10 col-md-5 col-lg-3 mx-auto my-3 p-4 first-div border rounded">
        <h3 class="h3 my-3">SALARY STRUGGLE?</h3>
        <hr>
        <p>
            Salary Struggle is a game made for everyone who enjoys a fun little challenge.
            The game is largely luck based, but there are definitely strategies to help you get ahead.
            Explore and expand your knowledge and spend your energy and money wisely. A top 10 result
            will get you on the leaderboard.
        </p>
    </div>
    <div class="col-10 col-md-5 col-lg-3 mx-auto my-3 p-4 second-div border rounded">
        <h3 class="h3 my-3">GAME SETTING</h3>
        <hr>
        <p>
            The game takes place in a fictional city, lightly inspired by Tokyo, where you play as an unfortunate
            soul who has piles of debt. The only way forward is to get a job as a self-taught
            programmer within 30 days. This is no easy task, and you need more than coding skills to make it.
        </p>
    </div>
    <div class="col-10 col-md-5 col-lg-3 mx-auto my-3 p-4 third-div border rounded">
        <h3 class="h3 my-3">GAMEPLAY</h3>
        <hr>
        <p>

            You have 30 days to get a job as a programmer. To succeed you need to pass four interviews. Each day is
            limited by your energy. You can do activities or perform tasks
            that increases your stats, but everything requires energy, and sometimes money. Head home to sleep to
            replenish
            your energy, but be aware that certain activities give you penalties, e.g. drinking will give you an energy
            hangover.
        </p>
    </div>
    <div class="col-10 col-md-5 col-lg-5 mx-auto my-3 p-4 border rounded fourth-div">
        <h3 class="h3 my-3">SHOP</h3>
        <hr>
        <p>
            Check out our online shop with behind-the-scenes art, as well as the chance to get personalised items
            from the creators themselves.
        </p>
        {% if user.is_authenticated %}
        <a class="btn shop-btn text-white" href="{% url 'shop:all_products' %}">Shop</a>
        {% else %}
        <p>To access our shop head over and <a href="{% url 'account_signup' %}"><u>register</u></a> for an account
            or <a href="{% url 'account_login' %}"><u>login</u></a></p>
        {% endif %}
    </div>

    
</div>

<div class="row">
    <div class="col-12 mx-auto text-center m-4">
        <a class="h3 border border-black" href="https://www.privacypolicygenerator.info/live.php?token=zG5a5RCR08C4RxBW1pvF6B3NJJL6OdPd" aria-label="Link to our private policy"
      target="_blank" rel="noopener">Private Policy</a>
    </div>
</div>
</div>
{% endblock %}