{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="container-header"></div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-10 py-5 mx-auto">
            <h1 class="h1 py-4 text-center">
                Contact
            </h1>
        </div>
    </div>

    <p class="text-center">Please don't hesitate to send us a message. We'll happily respond to any feedback, comments, ideas, or any other inquiries you may have.</p>

    <div class="row">
        <div class="col-8 mx-auto">
            <form id="form" method="post">

                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn-lg m-4" data-toggle="modal" data-target="message"
                    type="submit">Send</button>

            </form>
        </div>

    </div>

</div>
</div>
{% endblock %}