{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
        <div class="row mb-5">
            <div class="col-10 my-auto mx-auto">
                <h1 class="display-4 text-center">
                    Salary Struggle
                </h1>
            </div>
        </div>
        {% if user.is_authenticated %}
            {% if profile.active_char and profile.paid %}
                {% if character.day > 1 %}
                    <div class="row" id="game-link">
                        <a class="col-12 border py-5 mx-auto text-center" href="{% url 'grind:enter' %}">
                            <h2 class="h2">Play</h2>
                        </a>
                    </div>
                {% else %}
                <div class="row" id="game-link">
                    <a class="col-12 border py-5 mx-auto text-center" href="{% url 'grind:intro' %}">
                        <h2 class="h2">Play</h2>
                    </a>
                </div>
                {% endif %}
                <div class="row profile-link">
                    <a class="col-12 border py-5 mx-auto text-center" href="{% url 'profiles:profile' %}">
                        <h2 class="h2">Profile</h2>
                    </a>
                </div>
            {% elif profile.active_char %}
                <div class="row" id="game-link">
                    <a class="col-12 border py-5 mx-auto text-center" href="{% url 'grind:intro' %}">
                        <h2 class="h2">Play</h2>
                    </a>
                </div>
                <div class="row" id="upgrade-link">
                    <a class="col-12 border py-5 mx-auto text-center" href="{% url 'shop:product_details' membership.id %}">
                        <h2 class="h2">Upgrade to premium</h2>
                    </a>
                </div>
                <div class="row profile-link">
                    <a class="col-12 border py-5 mx-auto text-center" href="{% url 'profiles:profile' %}">
                        <h2 class="h2">Profile</h2>
                    </a>
                </div>
            {% else %}
            <div class="row profile-link">
                <a class="col-12 border py-5 mx-auto text-center" href="{% url 'profiles:profile' %}">
                    <h2 class="h2">Profile</h2>
                    <p class="lead">Create your character here</p>
                </a>
            </div>
            {% endif %}
        <div class="row" id="shop-link">
            <a class="col-12 border py-5 mx-auto text-center" href="{% url 'shop:all_products' %}">
                <h2 class="h2">Shop</h2>
            </a>
        </div>
        <div class="row">
            <a class="col-12 border py-5 mx-auto text-center" href="{% url 'account_logout' %}">
                <h2 class="h2">Logout</h2>
            </a>
        </div>
            
    </div>
        {% else %}
        <div class="row">
            <div class="my-5 mx-auto text-center">
                <a class="col-6 my-2 display-5" href="{% url 'account_signup' %}">
                    <div class="col">Register</div>
                </a>
                <a class="col-6 my-2 display-5" href="{% url 'account_login' %}">
                    <div class="col">Login</div>
                </a>
            </div>
        </div>
        {% endif %}
</div>

{% endblock %}