{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container bg-black">
        <div class="row mt-5 mb-2">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div id="hero-background">

        <div class="row mb-5 cover-text">
            <div class="col-10 py-5 mx-auto">
                <h1 class="display-4 py-4 text-center">
                    SALARY STRUGGLE
                </h1>
            </div>
        </div>

        {% if user.is_authenticated %}
            {% if profile.active_char %}

            <div class="row pt-5 cover-text">
                
                <div class="col-6 col-md-3 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    {% if character.day == 1 %}
                    <a href="{% url 'grind:intro' %}">
                    {% else %}
                    <a href="{% url 'grind:enter' %}">
                    {% endif %}
                        <h2 class="h2 text-white">PLAY</h2>
                    </a>
                </div>

                <div class="col-6 col-md-3 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    <a href="{% url 'profiles:profile' %}">
                        <h2 class="h2 text-white">PROFILE</h2>
                    </a>
                </div>

                <div class="col-6 col-md-3 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    <a href="{% url 'shop:all_products' %}">
                        <h2 class="text-white">SHOP</h2>
                    </a>
                </div>
                
            </div>

            {% else %}
            <div class="row pt-5 cover-text">

                <div class="col-4 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    <a href="{% url 'profiles:profile' %}">
                        <h2 class="text-white">PROFILE</h2>
                    </a>
                </div>

                <div class="col-4 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    <a href="{% url 'shop:all_products' %}">
                        <h2 class="text-white">SHOP</h2>
                    </a>
                </div>
                
            </div>
            {% endif %}

        {% else %}
        <div class="row pt-5 cover-text">

            <div class="col-4 mx-auto text-center text-white border border-white rounded animation intro-div hover">
                <a href="{% url 'account_signup' %}">
                    <h2 class="text-white">REGISTER</h2>
                </a>
            </div>

            <div class="col-4 mx-auto text-center text-white border border-white rounded animation intro-div hover">
                <a href="{% url 'account_login' %}">
                    <h2 class="text-white">LOGIN</h2>
                </a>
            </div>

        </div>
                
        {% endif %}

    </div>
</section>
<div class="row">
    <div class="col-6 border border-white bg-info text-center intro-content">
        <p class="lead">Random things go here</p>
    </div>
    <div class="col-6 border border-white bg-danger text-center intro-content">
        <p class="lead">Other random things are inserted here</p>
    </div>
</div>

{% endblock %}