{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="container-header"></div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div id="hero-background">

        <div class="row mb-5 cover-text">
            <div class="col-10 py-5 mx-auto">
                <h1 class="h1 py-4 text-center">
                    SALARY STRUGGLE
                </h1>
            </div>
        </div>

        {% if user.is_authenticated %}
            {% if profile.active_char %}

            <div class="row cover-text">
                
                <div class="col-8 col-md-5 col-lg-3 mt-3 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    {% if character.day == 1 %}
                    <a href="{% url 'grind:intro' %}">
                    {% else %}
                    <a href="{% url 'grind:enter' %}">
                    {% endif %}
                        <h2 class="h2 text-white">PLAY</h2>
                    </a>
                </div>

                <div class="col-8 col-md-5 col-lg-3 mt-3 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    <a href="{% url 'profiles:profile' %}">
                        <h2 class="h2 text-white">PROFILE</h2>
                    </a>
                </div>

                <div class="col-8 col-md-5 col-lg-3 mt-3 mx-auto text-center text-white border border-white rounded intro-div animation hover">
                    <a href="{% url 'shop:all_products' %}">
                        <h2 class="text-white">SHOP</h2>
                    </a>
                </div>
                
            </div>

            {% else %}
            <div class="row cover-text">

                <div class="col-8 col-md-5 col-lg-4 mx-auto text-center text-white border border-white rounded intro-div animation hover my-3">
                    <a href="{% url 'profiles:profile' %}">
                        <h2 class="text-white">PROFILE</h2>
                    </a>
                </div>

                <div class="col-8 col-md-5 col-lg-4 mx-auto text-center text-white border border-white rounded intro-div animation hover my-3">
                    <a href="{% url 'shop:all_products' %}">
                        <h2 class="text-white">SHOP</h2>
                    </a>
                </div>
                
            </div>
            {% endif %}

        {% else %}
        <div class="row cover-text">

            <div class="col-8 col-md-5 col-lg-3 my-2 mx-auto text-center text-white border border-white rounded animation intro-div hover">
                <a href="{% url 'account_signup' %}">
                    <h2 class="text-white">REGISTER</h2>
                </a>
            </div>

            <div class="col-8 col-md-5 col-lg-3 my-2 mx-auto text-center text-white border border-white rounded animation intro-div hover">
                <a href="{% url 'account_login' %}">
                    <h2 class="text-white">LOGIN</h2>
                </a>
            </div>

        </div>
                
        {% endif %}

    </div>
</div>

{% if not user.is_authenticated %}
<div class="row">
    <div class="col-12 mx-auto text-center text-white p-5 index-intro">
        <h3 class="display-4 my-5">Become a self-taught programmer in 30 days...
        <h3 class="h3">... or become homeless</h3>
        <h3 class="h3 my-5">It's all up to you!</h3>
        <h3 class="h3 my-5">Sign up and create a character to play for free</h3>
        <h3 class="h3 my-5">
            For the full experience purchase the 
            <a class="border text-white" href="{% url 'shop:product_details' membership.id %}">Premium Membership</a>
        </h3>    
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12 mx-auto text-center text-white p-5 index-intro">
        <h3 class="h3 my-5">Become a self-taught programmer in 30 days...
        <h3 class="h3">... or become homeless</h3>
        <h3 class="h3 my-5">It's all up to you!</h3>
        {% if not profile.active_char %}
        <h3 class="h3 my-5">Head over to your 
            <a class="border text-white" href="{% url 'profiles:profile' %}">profile</a> 
            to start a character
        </h3>
        {% else %}
        <h3 class="h3 my-5">Go get that job!</h3>
        {% endif %}
        {% if not profile.paid %}
        <h3 class="h3 my-5">
            For the full experience go 
            <a class="border text-white mx-2" href="{% url 'shop:product_details' membership.id %}">Premium</a>
        </h3>
        {% else %}
        <h3 class="h3 my-5">
            As a premium member you now have the full experience!
        </h3>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="row">
    {% if user.is_authenticated %}
    <a class="col-6 border border-white intro-content position-relative" id="contact-bg" href="{% url 'home:contact_login' %}">
    {% else %}
    <a class="col-6 border border-white intro-content position-relative" id="contact-bg" href="{% url 'home:contact' %}">
    {% endif %}
        <h3 class="h3 text-white centered">Contact</h3>
    </a>
    <a class="col-6 border border-white text-dark intro-content position-relative" id="about-bg" href="{% url 'home:about' %}">
        <h3 class="h3 centered">About</h3>
    </a>
</div>

</div>
{% endblock %}