{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'premium/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            {% if not from_profile %}
            <h2 class="logo-font mb-4">Thank You</h2>
            <hr>
            <p class="lead">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            {% else %}
            <h2 class="logo-font mb-4">Order details</h2>
            <hr>
            <p class="lead">Below are the details of your order. A confirmation email was sent to <strong>{{ order.email }}</strong>.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-4">
            <h2 class="h2">Details</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Overview</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Items</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Contact</a>
          </div>
        </div>
        <div class="col-8 pr-2 order-details">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <div>
                    <p class="mb-0 font-weight-bold">Order Total</p>
                </div>
                <div class="col-12">
                    <p class="mb-0">€{{ order.order_total }}</p>
                </div>
                
                <div>
                    <p class="mb-0 font-weight-bold">Order Number</p>
                </div>
                <div class="col-12">
                    <p class="small mb-0">{{ order.order_number }}</p>
                </div>

                <div>
                    <p class="mb-0 font-weight-bold">Order Date</p>
                </div>
                <div class="col-12">
                    <p class="mb-0">{{ order.date }}</p>
                </div>
            </div>
            <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                {% for item in order.orderitems.all %}
                    {% if not item.product.name == "Premium Membership" %}
                    <div>     
                        <p class="mb-0 font-weight-bold">
                            {{ item.product.name }} x {{ item.quantity }}
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">€{{ item.product.price }} each</p>
                    </div>
                    {% else %}
                    <div>    
                        <p class="mb-0 font-weight-bold">
                            {{ item.product.name }}
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">€{{ item.product.price }}</p>
                    </div>
                        {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div>
                    <p class="mb-0 font-weight-bold">Full Name</p>
                </div>
                <div class="col-12">
                    <p class="mb-0">{{ order.full_name }}</p>
                </div>
                <div>
                    <p class="mb-0 font-weight-bold">Email</p>
                </div>
                <div class="col-12">
                    <p class="mb-0">{{ order.email }}</p>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <hr class="col-10">
    </div>

    <div class="row my-4">
		<div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a href="{% url 'profiles:profile' %}" class="btn btn-info rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Return to profile</span>
                </a>
            {% else %}
                <a href="{% url 'shop:all_products' %}" class="btn btn-info rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span class="text-uppercase">Back to store</span>
                </a>
            {% endif %}
		</div>
	</div>

</div>
{% endblock %}
