{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="container-header"></div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="container"> -->

        <div class="row">
            <div class="col-12 text-center title-height">
                <h2>PROFILE</h2>
                <hr>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-center">
                {% if profile.paid %}
                <h3 class="display-5 mb-2">Premium Member</h3>
                {% else %}
                <h3 class="display-5 mb-2">Free Member</h3>
                <div class="col-10 col-md-6 mx-auto text-center border border-black rounded">
                    <a class="lead" href="{% url 'shop:product_details' membership.id %}">Upgrade to Premium</a>
                </div>
                {% endif %}
            </div>
        </div>

        {% if profile.active_char %}
        <div class="row mb-4">
            <div class="col-10 col-md-6 mx-auto text-center border rounded">
                <h4 class="display-5 mb-2">Your Character</h4>
                    <div class="col-12">
                        <p>Level {{ character.level }}</p>
                    </div>
                    <div class="col-12">
                        <p>Day: {{ character.day }}</p>
                    </div>
                    <div class="col-12">
                        <p>Money: {{ character.money }}</p>
                    </div>
                    <div class="col-12">
                        <p>Intellect: {{ character.intellect }}</p>
                    </div>
                    <div class="col-12">
                        <p>Charm: {{ character.charm }}</p>
                    </div>
                    <div class="col-12">
                        <p>Coding: {{ character.coding }}</p>
                    </div>
                    <div class="col-12">
                        <p>Endurance: {{ character.endurance }}</p>
                    </div>
                    {% if character.has_job %}
                        <div class="col-12">
                            <p>Has job: Yes</p>
                        </div>
                    {% endif %}
                    <div class="col-8 mx-auto text-center border border-black rounded mb-3">
                        <a class="lead" href="{% url 'profiles:confirm_new_char' %}">Restart character</a>
                    </div>
            </div>
        </div>
        {% else %}

        <div class="row mb-4">
            <div class="col-10 col-md-6 mx-auto text-center border border-black rounded">
                <a class="lead" href="{% url 'profiles:new_character' %}">Create New Character</a>
            </div>
        </div>

        {% endif %}

        <div class="row my-1">
            <div class="col-12 col-lg-6 border">
                <h3 class="h3 my-3 text-center">User information</h3>
                
                <ul class="list-group my-2">
                    <li class="list-group-item">First Name: {{user.first_name}}</li>
                    <li class="list-group-item">Last Name: {{user.last_name}}</li>
                    <li class="list-group-item">Email: {{user.email}}</li>
                </ul>
                <a href="{% url 'profiles:update_profile' %}">
                    <div class="col-6 py-2 mb-2 border border-black rounded text-center mx-auto bg-info lead">
                        Edit Information    
                    </div>
                </a>
            </div>
        </div>

        <div class="row my-3">

            <div class="col-12 col-lg-6 border">
                <p class="lead">Order History</p>
                {% if orders %}
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'profiles:order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date|date:'Y-m-d' }}</td>
                                    <td>€{{ order.order_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-muted">No orders placed</p>
                {% endif %}
            </div>
        </div>
<!-- </div> -->
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
