{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="container-header"></div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="row position-relative">
            <div class="col-12 pt-5 text-center title-height">
                <h2 class="h2 centered">PROFILE</h2>
            </div>
            <hr>
        </div>

        <div class="row mb-4">
            <div class="col-12 text-center">
                {% if profile.paid %}
                <h3 class="display-5 mb-2">Premium Member</h3>
                {% else %}
                <h3 class="display-5 mb-2">Free Member</h3>
                <a class="lead" href="{% url 'shop:product_details' membership.id %}">
                    <div class="col mx-auto text-center border border-black rounded" id="upgrade-link">
                        Upgrade to Premium
                    </div>
                </a>
                {% endif %}
            </div>
        </div>

        
        <div class="row mb-4">
            <div class="col-10 col-md-5 col-lg-3 px-2 mb-5 text-center mx-auto rounded profile-div" id="profile-char">
                {% if profile.active_char %}
                <h3 class="h3 my-3 text-center">Your Character</h3>
                        <p>Level {{ character.level }}</p>
                        <p>Day: {{ character.day }}</p>
                        <p>Money: {{ character.money }}</p>
                        <p>Intellect: {{ character.intellect }}</p>
                        <p>Charm: {{ character.charm }}</p>
                        <p>Coding: {{ character.coding }}</p>
                        <p>Endurance: {{ character.endurance }}</p>
                    {% if character.has_job %}
                        <p>Has job: Yes</p>
                    {% endif %}
                    <a href="{% url 'profiles:confirm_new_char' %}">
                        <div class="col mx-auto text-center text-white lead border border-black rounded profile-btn" id="restart-char">
                            Restart
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'profiles:new_character' %}">
                        <div class="col mx-auto text-center border border-black rounded mb-3 profile-btn mt-5 lead">
                            Create New Character
                        </div>
                    </a>
                {% endif %}
            </div>

            <div class="col-10 col-md-5 col-lg-3 px-2 mb-5 mx-auto rounded position-relative profile-div" id="profile-user">
                <h3 class="h3 my-3 text-center">User information</h3>
                
                <ul class="list-group my-2 p-4">
                    <li class="list-group-item">First Name: {{user.first_name}}</li>
                    <li class="list-group-item">Last Name: {{user.last_name}}</li>
                    <li class="list-group-item">Email: {{user.email}}</li>
                </ul>

                <a class="lead" href="{% url 'profiles:update_profile' %}">
                    <div class="col mx-auto text-center text-white border border-black rounded mb-3 profile-btn lead" id="user-edit-btn">
                        Edit
                    </div>
                </a>

            </div>

            <div class="col-10 col-md-5 col-lg-3 p-4 mb-5 text-center mx-auto rounded profile-div" id="profile-orders">
                <h3 class="h3 my-3 text-center">Order History</h3>
                {% if orders %}
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless bg-white rounded">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'profiles:order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date|date:'Y-m-d' }}</td>
                                    <td>€{{ order.order_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-muted">No orders placed</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
