{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-10 py-5 pb-2 mx-auto text-center">
                <h1 class="h1 mx-auto rounded contact-heading">
                    Update Profile
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-10 col-md-5 mx-auto mt-3 mb-5 p-4 first-div border rounded">
              <form id="form" method="post" class="mt-3">
          
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn update-prof-btn text-white my-3" data-toggle="modal" data-target="message" type="submit">Save</button>
          
              </form>
            </div>
          
          </div>
    </div>
{% endblock %}
