html {
    height: 100%;
}

a {
    color: black;
}

body {
    /* background: url('/media/test_background.png') no-repeat center center fixed;
    background-size: contain; */
    background-color: rgb(50, 153, 194);
    color: #555;
    font-family: 'Lato';
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/* From walkthrough project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* From walkthrough project */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* From walkthrough project */
.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

/* From walkthrough project */
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.message-container {
    position: fixed;
    right: 15px;
    z-index: 99999999;
}


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
