* {
    margin: 0;
    padding: 0;
    border: none;
}

li {
    padding: 1rem 0;
}

/* To prevent scrolling */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

.action-buttons {
    font-size: 26pt;
    background-color: #567887;
    color: white;
}

.action-row {
    bottom: 20vw;
}

.hide {
    display: none;
  }

  .hover:hover {
    transform: translateY(-7px);
    transition: all 0.3s ease 0s;
}

.hover:not(:hover) {
    transform: translateY(0px);
    transition: all 0.3s ease 0s;
}

/* --------------------- game base --------------------- */

#game-header {
    width: 70%;
    height: 70px;
}

#exit-link {
    position: absolute;
    top: 5px;
    left: 5px;
}

#exit-icon {
    font-size: 24pt;
    position: absolute;
    left: 30px;
    top: 30px;
}

.navbar-expand {
    justify-content: center!important;
    z-index: 1;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 4vw!important;
    padding-left: 4vw!important;
}

#game-message-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    color: white;
    width: 50%;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    z-index: 99999;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.message-container {
    position: fixed;
    top: 73px;
    z-index: 99999999;
}

.loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
}

.loading-icon {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 60%;
    font-size: 80pt;
}

.return-arrow {
    font-size: 6vw;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    border: 1px solid black;
    background-color: #50a3b7;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/* --------------------- intro page--------------------- */

#skip-btn {
    opacity: 0;
}

#next-btn {
    opacity: 0;
}

.intro-text {
    height: 100px;
    opacity: 0;
}

#intro-btn {
    font-size: 24pt;
    cursor: pointer;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#start-btn {
    font-size: 18pt;
    cursor: pointer;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/* --------------------- Enter page--------------------- */

#enter-link {
    margin: 30px auto;
    font-size: 21pt;
    width: 37vw;
    max-width: 200px;
    min-width: 100px;
    background-color: rgb(58 148 50);
    border-radius: 20px;
    box-shadow: black 0px 1px 20px 0px;
    cursor: pointer;
    color: white;
    z-index: 99999;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#enter-headline {
    z-index: 99999;
    font-size: 9vh;
}

/* --------------------- store page--------------------- */

.item-buy:hover {
    cursor: pointer;
}

.item-height {
    height: 195px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
    background-color: #3980a1;
}

/* --------------------- agency page--------------------- */

.agency-action-row {
    bottom: 20%
}

#recruiter-sign {
    width: 200px;
    height: 75px;
    box-shadow: -1px 16px 6px 6px rgb(0 0 0 / 22%);
}

.hint-btn {
    font-size: 32pt;
}

#bubble-agency {
    max-width: 30em;
    height: 150px;
    opacity: 0;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin: 0 auto;
}

#hr-animation {
    box-shadow: -1px 16px 6px 6px rgb(0 0 0 / 22%);
    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#hint-row {
    position: fixed;
    right: 0;
    top: 170px;
    left: 0;
    z-index: 1030;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/* --------------------- city page--------------------- */

.city-link {
    z-index: 1;
    color: white;
    background-color: rgb(69 72 75 / 80%);
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
}

.city-link:hover {
    color: white;
    text-decoration: none;
}

/* --------------------- Store page--------------------- */

.store-buy-btn {
    margin-bottom: 30px;
    background-color: #395169;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    color: white;
}

#store-items {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid black;
    background-color: #6494AA;
}

/* --------------------- Game messages --------------------- */

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.toast.show {
    display: contents;
}

.arrow {
    height: 10px;
    width: 10px;
}

.maintxt {position: relative;}
.maintxt > img, .overlay-text {position: absolute;}


/* --------------------- game backgrounds--------------------- */

#city-background-img {
    background-image: url(/media/city_repeat.png);
    background-repeat: repeat;
    background-size: contain;
    z-index: 0;
    height: 40vw;
}

#city-background {
    background-color: #57bcf2;
}


#call-center-background-img {
    background-image: url(/media/call_center.png);
}

#call-center-background {
    background-color: #b6cad1;
}

#store-background-img {
    background-image: url(/media/store_bg.png);
}

#store-background {
    background-color: #999999;
}

#house-background {
    background-color: #e3d9ca;
}

#house-background-img {
    background-image: url(/media/house_repeat.png);
}

#bar-background-img {
    background-image: url(/media/bar_repeat.png);
}

#cafe-background-img {
    background-image: url(/media/cafe_repeat.png);
}

#back-alley-background-img {
    background-image: url(/media/back_alley_repeat.png);
}

#agency-background-img {
    background-image: url(/media/agency_horizontal.png);
}

#downtown-background-img {
    background-image: url(/media/downtown_repeat.png);
}

#bar-background {
    background-color: #dea866;
}

#back-alley-background {
    background-color: #d4d4d4;
}

#agency-background {
    background-color: #749ead;
}

#cafe-background {
    background-color: #c2c2c2;
}

#downtown-background {
    background-color: #615b59;
}

@keyframes element-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

/* --------------------- interviews--------------------- */

#bubble {
    max-width: 30em;
    opacity: 0;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin: 0 auto;
}

#bubble::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;

    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

#question-text {
    opacity: 0;
}

/* --------------------------- media queries ------------------------------ */
@media (min-width: 1600px) {

    .all-game-bg-img {
        background-repeat: repeat-x;
        min-height: 1075px;
    }
}

@media (max-width: 1600px) {

    .all-game-bg-img {
        background-size: contain;
        background-repeat: repeat-x;
        height: 40vw;
    }
}

@media (max-width: 1400px) {
    #enter-grind {
        background-image: url(/media/background-enter.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 1500px;
        max-height: 75%;
    }

    #enter-link {
        max-width: 300px;
        font-size: 30pt;
    }

    .all-game-bg-img {
        background-size: contain;
        background-repeat: repeat-x;
        background-position: top;
    }
}


@media (max-width: 1200px) {
    
    #enter-grind {
        background-image: url(/media/background-enter.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 1200px;
        max-height: 70%;
    }

    #enter-link {
        max-width: 200px;
        font-size: 30pt;
    }

    .all-game-bg-img {
        height: 80vw;
        background-size: contain;
        background-repeat: repeat-x;
    }

    .action-btns {
        margin-bottom: 15%;
    }
}

@media (max-width: 768px) {

    .return-arrow {
        font-size: 10vw;
    }

    .city-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .hint-btn {
        font-size: 18pt;
    }
    
    #enter-grind {
        background-image: url(/media/background-enter.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 1200px;
        max-height: 60%;
    }

    #enter-link {
        max-width: 10px;
        font-size: 20pt;
    }

    .all-game-bg-img {
        height: 160vh;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #back-alley-background-img {
        background-image: url(/media/back_alley_repeat.png);
    }

    #call-center-background-img {
        background-image: url(/media/call_center_mobile.png);
    }

    #store-background-img {
        background-image: url(/media/store_mobile.png);
    }
    
    #house-background-img {
        background-image: url(/media/house_mobile.png);
    }

    #bar-background-img {
        background-image: url(/media/bar_background_mobile.png);
    }

    #cafe-background-img {
        background-image: url(/media/cafe_mobile.png);
    }

    #agency-background-img {
        background-image: url(/media/agency_background_mobile.png);
    }
}

@media (max-width: 385px) {
    #bubble-agency {
        font-size: 1em;
    }
}

@media (max-width: 320px) {
    .city-margin {
        margin-top: 0;
        margin-bottom: 0;
    }
}