html {
    height: 100%;
}

a {
    color: black;
}

body {
    /* background: url('/media/test_background.png') no-repeat center center fixed;
    background-size: contain; */
    background-color: rgb(50, 153, 194);
    color: #555;
    font-family: 'Lato';
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}