* {
    margin: 0;
    padding: 0;
    border: none;
}

/* To prevent scrolling */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.arrow {
    height: 10px;
    width: 10px;
}

.maintxt {position: relative;}
.maintxt > img, .overlay-text {position: absolute;}