
/* Used throughout site */
html {
    height: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: unset;
}

nav {
    background-color: #222E50;
}

nav a,
nav i {
    color: white;
}

.bag-icon {
    width: 20px;
}

body {
    color: black;
    font-family: 'Montserrat';
}

.hover:hover {
    transform: translateY(-7px);
    transition: all 0.3s ease 0s;
}

.hover:not(:hover) {
    transform: translateY(0px);
    transition: all 0.3s ease 0s;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* ----------------------------------- index page ----------------------------------- */

/* size of bootstrap navbar */
.container-header {
    height: 56px;
}

/* color to match hero picture */
.index-intro {
    background-color: #262c2f;
}

#hero-background {
    background-image: url(/media/index_background.jpg);
    background-color: #000;
    height: 600px;
    width: 100%;
    background-size: contain;
}

#contact-bg {
    background-color: #439A86;
}

#about-bg {
    background-color: #BCD8C1;
}

/* also used on profile page */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-div {
    background-color: #007991;
}

.intro-content {
    height: 200px;
}


/* ----------------------------------- profile page ----------------------------------- */

#profile-heading {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    width: 260px;
}

/* also used on about page */
.first-div {
    background-color: #6494AA;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* also used on about page */
.second-div {
    background-color: #E9B872;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* also used on about page */
.third-div {
    background-color: #90A959;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.fourth-div {
    background-color: #C1BDB3;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.title-height {
    height: 175px;
}

.profile-div {
    height: 500px;
}

#upgrade-link {
    width: 215px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#premium-member {
    width: 240px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#free-member {
    width: 260px;
    border: 1px solid #bdae15;
    background-color: #C46D5E;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}


@keyframes element-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

.profile-btn {
    width: 175px;
    margin-bottom: 30px;
    background-color: #395169;
    color: white;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#user-edit-btn {
    background-color: #395169;
}

#prof-play-btn {
    margin-bottom: 30px;
    background-color: #90A959;
}

#confirm-restart-btn {
    margin-bottom: 30px;
    background-color: #A44A3F;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#restart-char,
#cancel-restart {
    margin-bottom: 30px;
    background-color: #395169;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.cover-text {
    animation-name: opacity-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    
}

@keyframes opacity-animation {
    from {
        opacity: 0;
        top: 290px;
    }

    to {
        opacity: 1;
        top: 240px;
    }
}
/* ----------------------------------- Update Profile page ----------------------------------- */

.update-prof-btn {
    background-color: #395169;
    color: white;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}


/* ----------------------------------- About page ----------------------------------- */


#about-heading{
    width: 200px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.shop-btn {
    background-color: #7F7979;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* ----------------------------------- Contact pages ----------------------------------- */

.contact-btn {
    background-color: #7F7979;
    color: white;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.contact-heading {
    width: 235px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* ----------------------------------- Shopping cart page ----------------------------------- */

#bag-return-btn {
    height: 2rem;
    width: 2rem;
}

.btn-black {
    background: black;
    color: white;
}

/* also used in shop */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.bag-item-img {
    height: 120px;
    width: 100px;
}


/* .main-logo-link {
    width: fit-content;
} */


/* .shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
} */

/* From walkthrough project */


/* From walkthrough project */
/* .btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} */

/* Shopping bag */


/* ----------------------------------- Checkout success page ----------------------------------- */

.order-details {
    overflow-x: auto;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* ----------------------------------- Checkout page ----------------------------------- */

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* ----------------------------------- Products page ----------------------------------- */

.product-img {
    height: 120px;
    width: 120px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
}

/* also used in items and interviewers page */
.filter {
    width: 30vw;
    max-width: 50vw;
}

/* also used for items page */
.product-height {
    height: 270px;
    max-width: 300px;
}

/* ----------------------------------- Product details page ----------------------------------- */

#small-width {
    width: 200px;
}

/* ----------------------------------- items page ----------------------------------- */

.all-item-img {
    height: 120px;
    width: 120px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
}

#items-heading {
    width: 200px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* ----------------------------------- interviewer page ----------------------------------- */

.all-interviewer-img {
    height: 215px;
    width: 130px
}

.interviewer-height {
    height: 300px;
    max-width: 300px;
}

.boss-interviewer-img {
    height: 215px;
    width: 215px
}

#interviewer-heading {
    width: 250px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* ----------------------------------- interviewer detail page page ----------------------------------- */

.interviewer-detail-img {
    height: 260px;
    width: 150px;
}

/* used for items, interviewers, and products */
.product-name {
    font-size: 11pt;
}

.big-boss-img {
    height: 260px;
    width: 270px;
}


/* From walkthrough project */
/* a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
} */


/* .btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} */


/* .btt-link,
.update-link,
.remove-item {
    cursor: pointer;
} */


/* ----------------------------------- Footer ----------------------------------- */
.footer {
    background-color: #4e5970;
}


/* ----------------------------------- messages ----------------------------------- */
.message-container {
    position: fixed;
    top: 56px;
    z-index: 99999999;
}


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.toast.show {
    display: contents;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
/* .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
} */

/* Convenience classes - colors copied from Bootstrap */
/* .arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
} */

/* .bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
} */

/* ----------------------------------- allauth form ----------------------------------- */

.allauth-form-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-content input {
    border-color: #000;
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-content button,
.allauth-form-content input[type='submit'] {
	display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    padding: .375rem .75rem;
    border-radius: 0.25rem;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-content button:hover,
.allauth-form-content input[type='submit']:hover {	
	color: #fff;
    background-color: rgb(82, 112, 136);
    border-color: #222;
}

.allauth-form-content a {
	color: #17a2b8; /* text-info */
}

.btn-file {
    position: relative;
    overflow: hidden;
}

/* All input becomes one field, so user can simply click the image */
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --------------------------- media queries ------------------------------ */

@media (max-width: 860px) {
    #hero-background {
        background-size: cover;
    }
}

@media (min-width: 766px) {
    .item-img {
        max-width: 200px;
        max-height: 300px
    }
}

@media (max-width: 766px) {
    .shop-img {
        max-width: none;
        width: 80%;
    }

    .smaller-prod {
        text-align: center!important;
        margin-top: 0!important;
    }

    .item-img {
        max-width: 250px;
        max-height: 300px;
        text-align: center!important;
    }
}

@media (max-width: 576px) {
    .shop-img {
        width: 100%;
    }

    .item-img {
        max-width: 250px;
        max-height: 300px;
        text-align: center!important;
    }
}

/* --------------------------- mailchimp ------------------------------ */

#newsletter-heading {
    width: 250px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}