html {
    height: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

nav {
    background-color: #222E50;
}

nav a,
nav i {
    color: white;
}

.bag-icon {
    width: 20px;
}

body {
    color: black;
    font-family: 'Montserrat';
}

.container-header {
    height: 56px;
}

.title-height {
    height: 175px;
}

#hero-background {
    background-image: url(/media/index_background.jpg);
    background-color: #000;
    height: 600px;
    width: 100%;
    background-size: contain;
}

#contact-bg {
    background-color: #439A86;
}

#about-bg {
    background-color: #BCD8C1;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-div {
    background-color: #007991;
}

.intro-content {
    height: 200px;
}

#premium-member {
    width: 285px;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#free-member {
    width: 285px;
    border: 1px solid #bdae15;
}


@keyframes element-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

.profile-btn {
    width: 175px;
    margin-bottom: 30px;
}

#user-edit-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #395169;
}

#restart-char {
    margin-bottom: 30px;
    background-color: #395169;
}

/* about page and profile */
.first-div {
    background-color: #6494AA;
}

.second-div {
    background-color: #E9B872;
}


.third-div {
    background-color: #90A959;
}

.fourth-div {
    background-color: #A63D40;
}

/* profile page  */

.profile-div {
    height: 450px;
}

#upgrade-link {
    width: 215px;
}

.cover-text {
    animation-name: opacity-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    
}

@keyframes opacity-animation {
    from {
        opacity: 0;
        top: 290px;
    }

    to {
        opacity: 1;
        top: 240px;
    }
}

.hover:hover {
    transform: translateY(-7px);
    transition: all 0.3s ease 0s;
}

.hover:not(:hover) {
    transform: translateY(0px);
    transition: all 0.3s ease 0s;
}

/* From walkthrough project */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#bag-return-btn {
    height: 2rem;
    width: 2rem;
}

/* From walkthrough project */
.main-logo-link {
    width: fit-content;
}

/* From walkthrough project */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* From walkthrough project */
.btn-black {
    background: black;
    color: white;
}

/* From walkthrough project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Shopping bag */
.bag-item-img {
    height: 120px;
    width: 100px;
}

/* order details page  */

.order-details {
    overflow-x: auto;
}

/* From walkthrough project */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* From walkthrough project */
.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

/* From walkthrough project */
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* From walkthrough project */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* From walkthrough project */
.text-black {
    color: #000 !important;
}

/* From walkthrough project */
.border-black {
    border: 1px solid black !important;
}

/* From walkthrough project */
.bg-black {
    background: #000 !important;
}

.product-img {
    height: 120px;
    width: 120px;
}

#small-width {
    width: 200px;
}

.filter {
    width: 30vw;
    max-width: 50vw;
}

.all-item-img {
    height: 120px;
    width: 120px;
}

.interviewer-detail-img {
    height: 260px;
    width: 150px;
}

.all-interviewer-img {
    height: 215px;
    width: 130px
}

.product-name {
    font-size: 11pt;
}

.product-height {
    height: 250px;
    max-width: 300px;
}

.interviewer-height {
    height: 300px;
    max-width: 300px;
}

/* From walkthrough project */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* From walkthrough project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* From walkthrough project */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.footer {
    background-color: #4e5970;
}

.message-container {
    position: fixed;
    top: 56px;
    z-index: 99999999;
}


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.toast.show {
    display: contents;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-content input {
    border-color: #000;
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-content button,
.allauth-form-content input[type='submit'] {
	/* btn */
	display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    padding: .375rem .75rem;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-content button:hover,
.allauth-form-content input[type='submit']:hover {	
	color: #fff;
    background-color: rgb(82, 112, 136);
    border-color: #222;
}

.allauth-form-content a {
	color: #17a2b8; /* text-info */
}

.btn-file {
    position: relative;
    overflow: hidden;
}

/* All input lives in a field now, so user can simply click the image */
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --------------------------- media queries ------------------------------ */

@media (max-width: 1138px) {
    #user-edit-btn {
        bottom: 43px;
    }
}

@media (max-width: 768px) {
    #user-edit-btn {
        bottom: 0px;
    }
}

@media (min-width: 766px) {
    .item-img {
        max-width: 200px;
        max-height: 300px
    }
}

@media (max-width: 766px) {
    .shop-img {
        max-width: none;
        width: 80%;
    }

    .smaller-prod {
        text-align: center!important;
        margin-top: 0!important;
    }

    .item-img {
        max-width: 250px;
        max-height: 300px;
        text-align: center!important;
    }
}

@media (max-width: 860px) {
    #hero-background {
        background-size: cover;
    }
}

@media (max-width: 576px) {
    .shop-img {
        width: 100%;
    }

    .item-img {
        max-width: 250px;
        max-height: 300px;
        text-align: center!important;
    }
}