
.hide {
  display: none;
}

.intro {
  opacity: 0;
}

.intro-interviewer {
  opacity: 0;
}

#interviewer {
  opacity: 0;
}

.icon {
  font-size: 35pt;
}


.code-skills {
  bottom: 50px;
}

.top-text-interview {
  height: 100px;
}

#ending-fail, #ending-success {
  opacity: 0;
}

#answer-text,
#answer-code {
  min-height: 30px;
}


@media (min-width: 768px) {

  #hr-img {
    height: 215px;
    width: 150px;
  }
  
}

@media (min-width: 599px) {

  #hr-img {
    height: 265px;
    width: 160px;
  }

  .code-skills {
    bottom: 100px;
  }

  .answer-btn {
    width: 120px;
  }

  .code-answer {
    height: 250px;
  }

  .code-btn,
  .number-btn {
    height: 35px;
    font-size: 12pt;
  }

  #submit-code-btn,
  #submit-number-btn {
    height: 35px;
    font-size: 12pt;
  }

  #answer-text,
  #answer-code {
    font-size: 12pt;
    min-height: 50px;
  }

  #question-text {
    font-size: 12pt;
  }

  .third-intw-skills {
    bottom: 100px;
  }
  
}

@media (max-width: 599px) {

  #hr-img {
    height: 19vh;
    width: 15vh;
  }

  .interviewer-presentation {
    height: 50px;
  }

  .answer-btn {
    width: 84px;
  }

  .code-answer {
    height: 250px;
  }

  .code-skills {
    bottom: 50px;
  }
  
}

@media (max-width: 361px) {

  .answer-btn {
    font-size: 9pt;
    width: 84px;
  }

  .code-answer {
    height: 120px;
  }

  .code-skills {
    bottom: 0;
  }

  .code-btn {
    height: 33px;
  }

  #submit-code-btn {
    height: 33px;
  }
  
}



