
.hide {
  display: none;
}

.intro {
  opacity: 0;
}

.intro-interviewer {
  opacity: 0;
}

#interviewer {
  opacity: 0;
}

.icon {
  font-size: 50pt;
}

#introduction {
  height: 65%;
}

#hr-img {
  height: 170px;
  width: 100px;
}

.top-text-interview {
  height: 100px;
}

#ending-fail, #ending-success {
  opacity: 0;
}

#answer-text {
  min-height: 30px;
}