
.hide {
  display: none;
}

.intro {
  opacity: 0;
}

.intro-interviewer {
  opacity: 0;
}

#interviewer {
  opacity: 0;
}

.icon {
  font-size: 35pt;
}


/* #introduction {
  height: 65%;
} */

.top-text-interview {
  height: 100px;
}

#ending-fail, #ending-success {
  opacity: 0;
}

#answer-text,
#answer-code {
  min-height: 30px;
}


@media (min-width: 768px) {

  #hr-img {
    height: 215px;
    width: 150px;
  }
  
}

@media (max-width: 1200px) {

  #hr-img {
    height: 265px;
    width: 160px;
  }
  
}

@media (max-width: 768px) {

  #hr-img {
    height: 19vh;
    width: 15vh;
  }

  .interviewer-presentation {
    height: 50px;
  }
  
}

