<div class="row">
    <a href="{% url 'premium:checkout' %}" class="btn btn-black rounded btn-lg mx-3 bg-primary">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
</div>

<div class="row my-3">
    <a href="{% url 'shop:all_products' %}" class="mx-3">
        <span class="icon btn btn-outline-black rounded btn-lg" id="bag-return-btn">
            <i class="fas fa-chevron-left"></i>
        </span>
    </a>
    <span class="lead">Back to shop</span>
</div>