.action {
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    right: 1rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.xIcon {
    display: none;
}

.menu {
    position: fixed;
    right: 1rem;
    background-color: #f8f9fa;
    min-height: 260px;
    opacity: 0;
    list-style: none;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* .menuDown {
    transform: translateY(0);
} */



.menuLink {
    display: inline;
    font-size: 14pt;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 1800px) {
    .action {
        top: 850px;
        right: 25%;
        height: 150px;
        width: 150px;
    }

    .menu {
        top: 500px;
        right: 25%;
        width: 150px;
        height: auto;
    }

    .menuDown {
        transform: translateY(0);
    }

    .material-icons {
        font-size: 25pt;
    }

    .menuLink {
        font-size: 18pt;
    }

}

@media (max-width: 1800px) {
    .action {
        height: 150px;
        width: 150px;
    }

    .menu {
        width: 150px;
        height: auto;
        bottom: 10rem;
    }

    .material-icons {
        font-size: 25pt;
    }

    .menuLink {
        font-size: 20pt;
    }
}

@media (max-width: 1200px) {
    .action {
        height: 100px;
        width: 100px;
    }

    .menu {
        width: 100px;
        height: auto;
        bottom: 8rem;
    }

    .material-icons {
        font-size: 20pt;
    }

}

@media (max-width: 768px) {
    .action {
        height: 70px;
        width: 70px;
    }

    .material-icons {
        font-size: 14pt;
    }

    .action-buttons {
        font-size: 18pt;
    }

    .menu {
        width: 70px;
        height: auto;
        bottom: 6rem;
    }

    .menuLink {
        font-size: 14pt;
    }
}