{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Interviewers</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="level_asc" {% if current_sorting == 'level_asc' %}selected{% endif %}>Level (low to high)</option>
                    <option value="level_desc" {% if current_sorting == 'level_desc' %}selected{% endif %}>Level (high to low)</option>
                    <option value="intellect_asc" {% if current_sorting == 'intellect_asc' %}selected{% endif %}>Intellect (low to high)</option>
                    <option value="intellect_desc" {% if current_sorting == 'intellect_desc' %}selected{% endif %}>Intellect (high to low)</option>
                    <option value="coldness_asc" {% if current_sorting == 'coldness_asc' %}selected{% endif %}>Coldness (low to high)</option>
                    <option value="coldness_desc" {% if current_sorting == 'coldness_desc' %}selected{% endif %}>Coldness (high to low)</option>
                    <option value="coding_asc" {% if current_sorting == 'coding_asc' %}selected{% endif %}>Coding (low to high)</option>
                    <option value="coding_desc" {% if current_sorting == 'coding_desc' %}selected{% endif %}>Coding (high to low)</option>
                    <option value="impress_lvl_asc" {% if current_sorting == 'impress_lvl_asc' %}selected{% endif %}>Impress Level (low to high)</option>
                    <option value="impress_lvl_desc" {% if current_sorting == 'impress_lvl_desc' %}selected{% endif %}>Impress Level (high to low)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row mt-3">
                {% for interviewer in interviewers %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <a href="{% url 'codex:interviewer_details' interviewer.id %}">
                        <div class="card h-100 border-0">
                            {% if interviewer.image %}
                                <img class="card-img-top img-fluid interviewer-img mx-auto" src="{{ interviewer.image.url }}" alt="{{ interviewer.name }}">
                            {% else %}
                                <img class="card-img-top img-fluid interviewer-img mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ interviewer.name }}">
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ interviewer.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">STATS</p>
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>Level: {{ interviewer.level }}</small>
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>Intellect: {{ interviewer.intellect }}</small>
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>Coldness: {{ interviewer.coldness }}</small>
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>Coding: {{ interviewer.coding }}</small>
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>Impress Level: {{ interviewer.impress_lvl }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- button from walkthrough -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

<!-- Javascript from CI walkthorugh -->
{% block postloadjs %}
{{ block.super }}
<!-- block.super makes sure we append this code to anything already in the block, instead of replacing it -->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != 'reset') {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })

</script>
{% endblock %}