{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="h1 font-weight-bold">{{ interviewer.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 my-2">
                <div class="image-container mx-auto text-center">
                    {% if interviewer.image %}
                        <img class="card-img-top img-fluid interviewer-detail-img" src="{{ interviewer.image.url }}" alt="{{ interviewer.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid interviewer-detail-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ interviewe.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                <div class="row">
                    <p class="lead col-12">Level {{ interviewer.level }}</p>
                    <p class="text-muted col-3"><i class="fas fa-brain mx-1"></i> {{ interviewer.intellect }}</p>
                    <p class="text-muted col-3"><i class="far fa-snowflake"></i> {{ interviewer.coldness }}</p>
                    <p class="text-muted col-3"><i class="fas fa-code ml-1"></i> {{ interviewer.coding }}</p>
                    <p class="text-muted col-3"><i class="fas fa-level-up-alt"></i> {{ interviewer.impress_lvl }}</p>
                </div>
                    <p class="mt-3">{{interviewer.description}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}