{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-5 text-center">
            <h1 class="h1 mx-auto rounded" id="items-heading">
                Items
            </h1>
        </div>
    </div>

    <div class="row my-2">
        <div class="col mx-auto filter">
            <div class="sort-select-wrapper">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>{% if current_sorting == 'None_None' %}Filter{% else %}Reset{% endif %}</option>
                    <option value="intellect_asc" {% if current_sorting == 'intellect_asc' %}selected{% endif %}>Intellect (low to high)</option>
                    <option value="intellect_desc" {% if current_sorting == 'intellect_desc' %}selected{% endif %}>Intellect (high to low)</option>
                    <option value="charm_asc" {% if current_sorting == 'charm_asc' %}selected{% endif %}>Charm (low to high)</option>
                    <option value="charm_desc" {% if current_sorting == 'charm_desc' %}selected{% endif %}>Charm (high to low)</option>
                    <option value="coding_asc" {% if current_sorting == 'coding_asc' %}selected{% endif %}>Coding (low to high)</option>
                    <option value="coding_desc" {% if current_sorting == 'coding_desc' %}selected{% endif %}>Coding (high to low)</option>
                    <option value="energy_asc" {% if current_sorting == 'energy_asc' %}selected{% endif %}>Energy (low to high)</option>
                    <option value="energy_desc" {% if current_sorting == 'energy_desc' %}selected{% endif %}>Energy (high to low)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% for item in items %}
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 px-1">
                    <a href="{% url 'codex:item_details' item.id %}">
                    <div class="card border product-height my-2 second-div">
                        {% if item.image %}
                            <img class="card-img-top img-fluid all-item-img mx-auto mt-2 rounded" src="{{ item.image.url }}" alt="{{ item.name }}">
                        {% else %}
                            <img class="card-img-top img-fluid all-item-img mx-auto mt-2 rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                        {% endif %}
                        <div class="card-body">
                            <p class="lead product-name text-center">{{ item.name }}</p>
                        </div>
                        <div class="pt-0 mx-auto text-center">
                            <div class="row">
                                <div class="col">
                                    <small class="text-muted"><i class="fas fa-yen-sign">{{ item.price }}</i></small>
                                    {% if item.intellect > 0 %}
                                        <small class="text-muted"><i class="fas fa-brain mx-1"></i> Intellect: {{ item.intellect }}</small>
                                    {% endif %}
                                    {% if item.charm > 0 %}
                                        <small class="text-muted"><i class="fas fa-people-arrows mx-1"></i> Charm: {{ item.charm }}</small>
                                    {% endif %}
                                    {% if item.coding > 0 %}
                                        <small class="text-muted"><i class="fas fa-code ml-1"></i> Coding: {{ item.coding }}</small>
                                    {% endif %}
                                    {% if item.energy > 0 %}
                                        <small class="text-muted"><i class="fas fa-bolt mx-1"></i> Energy: {{ item.energy }}</small>
                                    {% endif %}
                                    {% if item.endurance > 0 %}
                                        <small class="text-muted"><i class="fas fa-fire-alt ml-1"></i> Endurance: {{ item.endurance }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != 'reset') {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })

</script>
{% endblock %}