{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="h-100" id="agency-background">
    <div class="text-center" id="agency-background-img">

    <div class="row">
        <a class="col-2 text-center m-3 rounded" href="{% url 'grind:city' %}">
            <i class="fas fa-arrow-left text-info return-arrow"></i>
        </a>
    </div>

    {% if character.level == 1 %}
    <div class="row text-center level-one">
        <div class="col-10 col-md-8 col-lg-4 mx-auto">
            <h3 class="bg-white h3">Ask for interview</h3>
        </div>
    </div>
    <div class="row answer-buttons d-none" id="passed">
        <div class="col-10 mx-auto text-center mt-1">
          <p id="bubble">
              I think we might be able to set you up with an interview. Come back later and we'll see if we have anything for you.
          </p>
        </div>
    </div>
    <button class="action" aria-label="Opens and closes the menu">
        <span class="menuIcon material-icons" aria-hidden="true">
            Actions
        </span>
        <span class="xIcon material-icons d-none" aria-hidden="true">
            Close
        </span>
    </button>
    <ul class="menu rounded" id="menu-bg">
        <li>
            <div class="menuLink lead d-none ask-interview" value="intellect" id="agency_intellect" aria-label="">Use intellect</div>
        </li>
        <li>
            <div class="menuLink lead d-none ask-interview" value="charm" id="agency_charm" aria-label="">Use charm</div>
        </li>
        <li>
            <div class="menuLink lead d-none ask-interview" value="coding" id="agency_coding" aria-label="">Use coding</div>
        </li>
        <li>
            <div class="menuLink lead d-none ask-interview" id="agency_combine" aria-label="">Combine skills</div>
        </li>
    </ul>

    {% elif character.level == 2 %}

    <div class="row mb-5 text-center d-none" id="hrInterviewLink">
        <div class="col-8 mx-auto">
            <a id="HRInterview" href="{% url 'interview:hr_interview' %}">
                <h3 class="h3 rounded border border-black text-dark bg-info" id="hr-animation">Start HR interview</h3>
            </a>
        </div>
    </div>

    <div class="row answer-buttons d-none" id="introHrInterview">
        <div class="col-10 mx-auto text-center mt-1">
          <p id="bubble-agency"></p>
        </div>
    </div>

    <button id="next-hint" class="border rounded btn col-4 mx-auto d-none" aria-label="Next hint button">Next</button>

    <div class="row" id="hint-row">
        <div class="col-12 text-center">
            <button aria-label="Hint nutton" id="hint-btn" class="btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <!-- <div class="row pt-2 text-center hide fixed-bottom mb-5" id="hint-text"> -->
        <div class="d-none">
            <p class="hint">Hi, I'm Steve the recruiter.</p>
            <p class="hint">Glad to meet you. You look like you have some promise.</p>
            <p class="hint">I'm pleased to let you know that your first interview is now available.</p>
            <p class="hint">I should probably give you a briefing of what you're about to join</p>
            <p class="hint">So, the company's name is Data Drifters and they specialize in database integrations.</p>
            <p class="hint">I'm not sure who will interview you. Also, you should know that interviewers are quite different from one another.</p>
            <p class="hint">They can be quite selfish. You basically have to adapt your answer to their personality traits in order to succeed.</p>
            <p class="hint">See if you can reach the impress level needed.</p>
            <p class="hint">Best of luck to you!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide bg-primary">Next</button>
    <!-- </div> -->
    {% elif character.level == 3 %}
    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:coding_interview' %}">
                <h3 class="h3 border">Start coding interview</h3>
            </a>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-10 float-right">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="d-none">
        <p class="hint">Glad to hear the HR interview went well</p>
        <p class="hint">Next up is your coding interview. If you haven't studied for this one you might have some
            hardships.</p>
        <p class="hint">Don't worry too much. There's always a chance that you can bluff your way out of a situation.
        </p>
        <p class="hint">Unfortunately for this one there's often only one correct answer, unless you're able to convince
            the interviewer otherwise</p>
        <p class="hint">You can use your skills to benefit you. However, you will be penalized if the skill fails.</p>
        <p class="hint">Oh, by the way. I heard that the programming language will be Python. Better prepare a bit.</p>
        <p class="hint">Best of luck to you!</p>
    </div>
    {% elif character.level == 4 %}
    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:coding_difficult_interview' %}">
                <h3 class="h3 border">Start hard coding interview</h3>
            </a>
        </div>
    </div>


    <div class="row pt-5">
        <div class="col-10 float-right">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="hint-text">
        <div class="col-10 mx-auto">
            <p class="lead border hide hint">I just heard the news. Great job on that coding interview!</p>
            <p class="lead border hide hint">Your next interview is now available. It'll be slightly harder since there is a time limit this time around.</p>
            <p class="lead border hide hint">As always make good use of your skills, and a bit of luck can't hurt either</p>
            <p class="lead border hide hint">This one can be a bit unpredictable. It's hard for me to give you a whole lot of tips for it.</p>
            <p class="lead border hide hint">You'll see what I mean once you're there.</p>
            <p class="lead border hide hint">Skill up and prepare the best you can.</p>
            <p class="lead border hide hint">Give it your best shot!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide">Next</button>
    </div>
    {% elif character.level == 5 %}
    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:final_interview' %}">
                <h3 class="h3 border">Start final interview</h3>
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="hint-text">
        <div class="col-10 mx-auto">
            <p class="lead border hide hint">Wow! You actually managed to pass the interview.</p>
            <p class="lead border hide hint">I know the guy... he can be a tool.</p>
            <p class="lead border hide hint">Well, I suppose I can only congratulate you on making it this far.</p>
            <p class="lead border hide hint">The final interview is now available.</p>
            <p class="lead border hide hint">You'll be meeting the big boss. A serious guy to say the least.</p>
            <p class="lead border hide hint">He'll probably try to scare you by bringing you in his dungeon-like office.</p>
            <p class="lead border hide hint">Try to keep your cool. The job is within range. If you made it this far you have what it takes... I'm pretty sure at least!</p>
            <p class="lead border hide hint">Don't be discouraged! No fear! Go for glory!</p>
            <p class="lead border hide hint">As always, I wish you the best of luck!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide">Next</button>
    </div>
    {% endif %}
    </div>
</div>
{% endif %}
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <h2 class="h2 text-light">Level up! </h2><i class="fas fa-plus"></i>
        </span>
    </h1>
    
</div>
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/agency.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/ajax_agency.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/hamburger.js' %}"></script>
{% endblock %}