{% extends "grind/game_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'grind/css/grind.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Agency</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:city' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>
    
    {% if character.level == 1 %}
    <div class="row pt-5 text-center level-one">
        <div class="col-10 mx-auto">
            <h3 class="h3">Ask for interview</h3>
        </div>
    </div>

    <div class="row pt-5 text-center hide" id="passed">
        <div class="col-10 mx-auto">
            <h3 class="lead">I think we might be able to set you up with an interview. Come back later and we'll see if we have anything for you.</h3>
        </div>
    </div>
    
    <div class="row pt-2">

        <div class="col-6 mx-auto text-center level-one">
            <div class="border rounded-top ask-interview" value="intellect" id="agency_intellect">
                <p class="lead font-weight-bold">Use intellect</p>
                <!-- <p class="lead">Odds: Intellect to 20</p> -->
            </div>
        </div>

        <div class="col-6 mx-auto text-center mb-4 level-one">
            <div class="border rounded-top ask-interview" value="charm" id="agency_charm">
                <p class="lead font-weight-bold">Use charm</p>
                <!-- <p class="lead">Odds: Charm to 20</p> -->
            </div>
        </div>

        <div class="col-6 mx-auto text-center mb-4 level-one">
            <div class="border rounded-top ask-interview" value="coding" id="agency_coding">
                <p class="lead font-weight-bold">Use coding</h5>
                    <!-- <p class="lead">Odds: Coding to 20</p> -->
            </div>
        </div>

        <div class="col-6 mx-auto text-center level-one">
            <div class="border rounded-top" id="agency_combine">
                <h5 class="lead font-weight-bold">Combine your skills</h5>
                <!-- <p class="lead">Odds: Intellect + Charisma + Coding to 60</p> -->
            </div>
        </div>

    </div>

    {% elif character.level == 2 %}

    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:hr_interview' %}">
                <h3 class="h3 border">Start HR interview</h3>
            </a>
        </div>
    </div>


    <div class="row pt-5" id="hint-row">
        <div class="col-10 float-right">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="hint-text">
        <div class="col-10 mx-auto">
            <p class="lead border hide hint">Hi, I'm Steve the recruiter.</p>
            <p class="lead border hide hint">Glad to meet you. You look like you have some promise.</p>
            <p class="lead border hide hint">I'm please to let you know that your first interview is now available.</p>
            <p class="lead border hide hint">I should probably give you a briefing of what you're about to join</p>
            <p class="lead border hide hint">So, the company's name is Data Drifters and they specialize in database integrations.</p>
            <p class="lead border hide hint">I'm not sure who will interview you. Also, you should know that interviewers are quite different from one another.</p>
            <p class="lead border hide hint">They can be quite selfish. You basically have to adapt your answer to their personality traits in order to succeed.</p>
            <p class="lead border hide hint">You can always attempt your skills with them. They won't penalize you for that.</p>
            <p class="lead border hide hint">See if you can reach the impress level needed.</p>
            <p class="lead border hide hint">Best of luck to you!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide">Next</button>
    </div>
    {% elif character.level == 3 %}
    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:coding_interview' %}">
                <h3 class="h3 border">Start coding interview</h3>
            </a>
        </div>
    </div>


    <div class="row pt-5" id="hint-row">
        <div class="col-10 float-right">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="hint-text">
        <div class="col-10 mx-auto">
            <p class="lead border hide hint">Glad to hear the HR interview went well</p>
            <p class="lead border hide hint">Next up is your coding interview. If you haven't studied for this one you might have some hardships.</p>
            <p class="lead border hide hint">Don't worry too much. There's always a chance that you can bluff your way out a situation.</p>
            <p class="lead border hide hint">Unfortunately for this one there's often only one correct answer, unless you're able to convince the interviewer otherwise</p>
            <p class="lead border hide hint">Just like last time you can use your skills to benefit you. However, this time you will be penalized if the skill fails.</p>
            <p class="lead border hide hint">Oh, by the way. I heard that the programming language will be Python. Better prepare a bit.</p>
            <p class="lead border hide hint">Best of luck to you!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide">Next</button>
    </div>
    {% elif character.level == 4 %}
    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:coding_difficult_interview' %}">
                <h3 class="h3 border">Start hard coding interview</h3>
            </a>
        </div>
    </div>


    <div class="row pt-5" id="hint-row">
        <div class="col-10 float-right">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="hint-text">
        <div class="col-10 mx-auto">
            <p class="lead border hide hint">I just heard the news. Great job on that coding interview!</p>
            <p class="lead border hide hint">Your next interview is now available. It'll be slightly harder since there is a time limit this time around.</p>
            <p class="lead border hide hint">As always make good use of your skills, and a bit of luck can't hurt either</p>
            <p class="lead border hide hint">This one can be a bit unpredictable. It's hard for me to give you a whole lot of tips for it.</p>
            <p class="lead border hide hint">You'll see what I mean once you're there.</p>
            <p class="lead border hide hint">Skill up and prepare the best you can.</p>
            <p class="lead border hide hint">Give it your best shot!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide">Next</button>
    </div>
    {% elif character.level == 5 %}
    <div class="row py-5 text-center">
        <div class="col-10 mx-auto">
            <a href="{% url 'interview:final_interview' %}">
                <h3 class="h3 border">Start final interview</h3>
            </a>
        </div>
    </div>


    <div class="row pt-5" id="hint-row">
        <div class="col-10 float-right">
            <button aria-label="Hint nutton" id="hint-btn" class="border btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="hint-text">
        <div class="col-10 mx-auto">
            <p class="lead border hide hint">Wow! You actually managed to pass the interview.</p>
            <p class="lead border hide hint">I know the guy... he can be a tool.</p>
            <p class="lead border hide hint">Well, I suppose I can only congratulate you on making it this far.</p>
            <p class="lead border hide hint">The final interview is now available.</p>
            <p class="lead border hide hint">You'll be meeting the big boss. A serious guy to say the least.</p>
            <p class="lead border hide hint">He'll probably try to scare you by bringing you in his dungeon-like office.</p>
            <p class="lead border hide hint">Try to keep your cool. The job is within range. If you made it this far you have what it takes... I'm pretty sure at least!</p>
            <p class="lead border hide hint">Don't be discouraged! No fear! Go for glory!</p>
            <p class="lead border hide hint">As always, I wish you the best of luck!</p>
        </div>

        <button aria-label="Next hint button" id="next-hint" class="border btn col-4 mx-auto hide">Next</button>
    </div>
    {% endif %}
</div>
{% endif %}
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <h2 class="h2 text-light">Level up! </h2><i class="fas fa-plus"></i>
        </span>
    </h1>
    
</div>
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/agency.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/ajax_agency.js' %}"></script>
{% endblock %}