{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row py-5">
            <div class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto p-4 text-center" style="width: 18rem;">
                <div class="card-body rounded-top admin-confirmed">
                    <h5 class="card-title">Fight</h5>    
                        <p class="card-text round">+3 Endurance</p>
                </div>
                <ul class="list-group list-group-flush border">
                <li class="list-group-item">Risk of losing fight</li>
                <li class="list-group-item">No reward and -50 energy next day</li>
                </ul>
            </div>

            <div class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto p-4 text-center" style="width: 18rem;">
                <div class="card-body rounded-top admin-confirmed">
                    <h5 class="card-title">Gamble on horses</h5>    
                        <p class="card-text round">Pays 2 to 1</p>
                </div>
                <ul class="list-group list-group-flush border">
                <li class="list-group-item">Winning Odds: 1 to 2</li>
                </ul>
            </div>

    </div>
</div>
{% endif %}
{% endblock %}