{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Back Alley</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:downtown' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>
    
    <div class="row py-5">

        <div class="col-8 card mx-auto text-center" id="fight">
            <div class="card-body rounded-top">
                <h5 class="card-title">Fight</h5>
                <p class="card-text round">Odds: 50/50</p>
            </div>
        </div>

        <div class="col-8 card mx-auto text-center" id="gamble">
            <div class="card-body rounded-top">
                <h5 class="card-title">Gamble on horses</h5>
                <p class="card-text round">Odds: 1 to 2</p>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/ajax_back_alley.js' %}"></script>
{% endblock %}