{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="h-100 overview" id="">
    <div class="text-center" id="">

        <div class="row">
            <a class="col-2 text-center m-3 rounded" href="{% url 'grind:downtown' %}">
                <i class="fas fa-arrow-left text-info return-arrow"></i>
            </a>
        </div>

        <button class="action" aria-label="Opens and closes the menu">
            <span class="menuIcon material-icons" aria-hidden="true">
                Actions
            </span>
            <span class="xIcon material-icons d-none" aria-hidden="true">
                Close
            </span>
        </button>
        <ul class="menu rounded">
            <li>
                <div class="menuLink lead" id="fight" aria-label="">Fight</div>
            </li>
            <li>
                <div class="menuLink lead" id="gamble" aria-label="">Gamble</div>
            </li>
        </ul>

    </div>
</div>
    
<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-fist-raised"></i>
        </span>
        
        <h2 class="h2 text-light text-center">You won the fight!</h2>
        <hr>
        <h3 class="h3 text-light text-center">Endurance +3</h3>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-user-injured text-danger"></i>
        </span>
        
        <h2 class="h2 text-light text-center">You lost!</h2>
        <hr>
        <h3 class="h3 text-danger text-center">Endurance depleted</h3>
        <h3 class="h3 text-danger text-center">Energy penalty: 50</h3>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-yen-sign"></i>
        </span>
        
        <h2 class="h2 text-light text-center">Lucky you!</h2>
        <hr>
        <h3 class="h3 text-light text-center">Winnings: <i class="fas fa-yen-sign"></i>1500</h3>

    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-sad-tear"></i>
        </span>
        
        <h2 class="h2 text-light text-center">Bye bye, money!</h2>
        <hr>
        <h3 class="h3 text-danger text-center">You lost <i class="fas fa-yen-sign"></i>1000</h3>

    </h1>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/ajax_back_alley.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/hamburger.js' %}"></script>
{% endblock %}