{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Bar</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:city' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>
    
    <div class="row py-5">

        <div class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto text-center" id="drinkButton">
            <div class="card-body rounded-top">
                <h5 class="card-title">Drink</h5>
                <p class="card-text round">+2 Charm</p>
                <p class="card-text round">-1000¥</p>
                <p class="card-text round">-40 energy & 20 energy penalty</p>
            </div>
        </div>

        <div class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto text-center" id="converse">
                <div class="card-body rounded-top">
                    <h5 class="card-title">Converse</h5>
                    <p class="card-text round">+2 charm</p>
                    <p class="card-text round">-40 energy & risk</p>
                    <p class="card-text round">Odds: 2 to 1</p>
                </div>
        </div>

    </div>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_bar.js' %}"></script>
{% endblock %}