{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="h-100 overview" id="cafe-background">
    <div class="text-center" id="cafe-background-img">

        <div class="row">
            <a class="text-center" href="{% url 'grind:city' %}">
                <div class="col-2 text-center m-3 rounded">
                    <i class="fas fa-arrow-left text-info return-arrow"></i>
                </div>
                
            </a>
        </div>

        <button class="action" aria-label="Opens and closes the menu">
            <span class="menuIcon material-icons" aria-hidden="true">
                Actions
            </span>
            <span class="xIcon material-icons d-none" aria-hidden="true">
                Close
            </span>
        </button>
        <ul class="menu rounded">
            <li>
                <div class="menuLink lead d-none" id="study" aria-label="">Study</div>
            </li>
        </ul>
    </div>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-book-open"></i>
        </span>
        
        <h2 class="h2 text-light text-center">Coding and intellect increased</h2>
        <hr>
        <h3 class="h3 text-light text-center">Coding: {{ character.coding|add:2 }}</h3>
        <h3 class="h3 text-light text-center">Intellect: {{ character.intellect|add:2 }}</h3>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white" id="overlay-converse">
        <span class="icon">
            <i class="fas fa-book-open text-danger"></i>
        </span>

        <h2 class="h2 text-danger text-center">You met some friends and got distracted</h2>
        <h2 class="h2 text-danger text-center">Half effect!</h2>
        <hr>
        <h3 class="h3 text-light text-center">Coding: {{ character.coding|add:1 }}</h3>
        <h3 class="h3 text-light text-center">Intellect: {{ character.intellect|add:1 }}</h3>
    </h1>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_cafe.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/hamburger.js' %}"></script>
{% endblock %}