{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="h-100 overview" id="cafe-background">
    <div class="text-center" id="cafe-background-img">

        <div class="row">
            <a class="text-center" href="{% url 'grind:city' %}">
                <div class="col-2 text-center m-3 rounded">
                    <i class="fas fa-arrow-left text-info return-arrow"></i>
                </div>
                
            </a>
        </div>

        <div class="row fixed-bottom action-btns">
            <div class="col-3 mx-auto text-center">
                <div class="rounded border border-dark update-button" id="study">
                    <h5 class="h5">Study</h5>
                    <p class="">Odds 2 to 1</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-bed"></i>
        </span>
    </h1>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_cafe.js' %}"></script>
{% endblock %}