{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}


<div class="h-100 overview" id="cafe-background">
    <div class="text-center all-game-bg-img" id="cafe-background-img">

        <div class="row">
            <a class="text-center" href="{% url 'grind:city' %}">
                <div class="col-2 text-center m-3 rounded">
                    <i class="fas fa-arrow-left text-white btn return-arrow"></i>
                </div>
                
            </a>
        </div>

        <div class="row fixed-bottom action-row">

            <div class=" col-10 col-lg-8 mx-auto">
                <span class="btn mx-3 border border-dark action-buttons hover" id="study">Study</span>
            </div>   

        </div>

    </div>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-book-open"></i>
        </span>
        
        <h2 class="h2 text-light text-center">Coding+2 and intellect+2</h2>
        <hr>
        <h3 class="h3 text-light text-center" id="coding-win-increase"></h3>
        <h3 class="h3 text-light text-center" id="intellect-win-increase"></h3>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-book-open text-danger"></i>
        </span>

        <h2 class="h2 text-danger text-center">You got distracted!</h2>
        <h2 class="h2 text-danger text-center">Half effect!</h2>
        <hr>
        <h3 class="h3 text-light text-center" id="coding-fail-increase"></h3>
        <h3 class="h3 text-light text-center" id="intellect-fail-increase"></h3>
    </h1>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_cafe.js' %}"></script>
{% endblock %}