{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100">
    <div class="row py-5 text-center">
        <div class="col">
            <h2>Call Center</h2>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:downtown' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>
    
    <div class="row py-5">
        {% if not character.has_job %}

            <div class="col-8 border text-center mx-auto" id="apply">
                <h3 class="lead">Ask for a job</h3>
                <p class="text-muted">Odds: charm to 20</p>
            </div>

            <div class="col-8 text-center mx-auto hide" id="rejected">
                <h3 class="lead">Get lost kid. You need to work on your self-presentation.</h3>
            </div>

            <div class="col-8 text-center mx-auto hide" id="passed">
                <h3 class="lead">Alright, Kiddo, get your butt ready to work. Come back later and you can start.</h3>
            </div>
        
        {% else %}

        <div class="col-6 card mx-auto text-center" id="work">
            <div class="card-body rounded-top">
                <h5 class="card-title">Work</h5>
                <p class="card-text round">Pay: charm * ¥200</p>
            </div>
        </div>

        {% endif %}
    </div>
</div>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-icon">
        <span class="icon">
            <h2 class="h2 text-light">You've got a part-time job </h2><i class="fas fa-plus"></i>
        </span>
    </h1>
    
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/ajax_call_center.js' %}"></script>
{% endblock %}