{% extends "grind/game_base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
{% if user.is_authenticated %}

<div class="h-100 overview" id="call-center-background">
    <div class="text-center all-game-bg-img" id="call-center-background-img">

        <div class="row">
            <a class="col-2 text-center m-3 rounded" href="{% url 'grind:downtown' %}">
                <i class="fas fa-arrow-left text-white btn return-arrow"></i>
            </a>
        </div>

        {% if not character.has_job %}

        <div class="row fixed-bottom action-row">

            <div class=" col-10 col-lg-8 mx-auto">
                <span class="btn mx-3 border border-dark action-buttons hover" id="apply">Ask for a job</span>
            </div>   

        </div>

        <div class="col-6 rounded text-center mx-auto bg-warning lead border border-dark hide" id="rejected">
            <h3 class="lead">Get lost kid. You need to work on your self-presentation.</h3>
        </div>

        <div class="col-6 rounded text-center mx-auto bg-success lead border border-dark hide" id="passed">
            <h3 class="lead">Alright, Kiddo, get your butt ready to work. Come back later and you can start.</h3>
        </div>

    
    </div>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>

        <h2 class="h2 text-light text-center">You've got a part-time job</h2>
        <hr>
        <h3 class="h3 text-light text-center">Pay is <i class="fas fa-yen-sign ml-1"></i>100 times your charm</h3>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-thumbs-down"></i>
        </span>

        <h2 class="h2 text-danger text-center">The manager tells you to get lost</h2>
        <hr>
        <h3 class="h3 text-light text-center">You need 20 charm to get a job here</h3>
    </h1>
</div>
    
    {% else %}


    <div class="row fixed-bottom action-row">

        <div class=" col-10 col-lg-8 mx-auto">
            <span class="btn mx-3 border border-dark action-buttons hover" id="work">Work</span>
        </div>   

    </div>

</div>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
            
        <h2 class="h2 text-light text-center">You've made {{ 100|mul:character.charm }}<i class="fas fa-yen-sign ml-1"></i></h2>
        <hr>
        <h3 class="h3 text-light text-center">Energy cost: {{ 60|sub:character.endurance }}</h3>
    </h1>
</div>

{% endif %}

{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/ajax_call_center.js' %}"></script>
{% endblock %}