{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="h-100 overview" id="city-background">
    <div class="text-center fixed-bottom" id="city-background-img"></div>

        <div class="row pt-5">
            <div class="col-10 mx-auto text-center">
                <h2 class="h2">Where to go?</h2>
            </div>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link city-margin" href="{% url 'grind:bar' %}">
                <h3 class="h3">Bar <i class="fas fa-beer"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link city-margin" href="{% url 'grind:cafe' %}">
                <h3 class="h3">Cafe <i class="fas fa-coffee"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link city-margin" href="{% url 'grind:agency' %}">
                <h3 class="h3">Agency <i class="fas fa-users"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link city-margin" href="{% url 'grind:downtown' %}">
                <h3 class="h3">Downtown <i class="fas fa-city"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link city-margin" href="{% url 'grind:house' %}">
                <h3 class="h3">Home <i class="fas fa-house-user"></i></h3>
            </a>
        </div>

</div>

<!-- for larger screens  -->

<div class="h-100 overview game-background-large">
    <div class="col-10 mx-auto mt-5 all-game-bg-img" id="city-background-img">

        <div class="row pt-5">
            <div class="col-10 mx-auto text-center">
                <h2 class="h2">Where to go?</h2>
            </div>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 rounded mx-auto text-center city-link my-3" href="{% url 'grind:bar' %}">
                <h3 class="h3">Bar <i class="fas fa-beer"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 rounded mx-auto text-center city-link my-3" href="{% url 'grind:cafe' %}">
                <h3 class="h3">Cafe <i class="fas fa-coffee"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 rounded mx-auto text-center city-link my-3" href="{% url 'grind:agency' %}">
                <h3 class="h3">Agency <i class="fas fa-users"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 rounded mx-auto text-center city-link my-3" href="{% url 'grind:downtown' %}">
                <h3 class="h3">Downtown <i class="fas fa-city"></i></h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 rounded mx-auto text-center city-link my-3" href="{% url 'grind:house' %}">
                <h3 class="h3">Home <i class="fas fa-house-user"></i></h3>
            </a>
        </div>

    </div>
</div>

{% endif %}
{% endblock %}