{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-3">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Downtown</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:city' %}">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

    <div class="row pt-5">
        <div class="col-6 border rounded mx-auto text-center">
            <a href="{% url 'grind:store' %}">
                <div class="col-12 rounded">
                    <h5 class="h5">Store</h5>
                    <p">Buy items</p>
                </div>
            </a>
        </div>
    </div>
        
    <div class="row pt-2">
        <div class="col-6 border rounded mx-auto text-center">
            <a href="{% url 'grind:call-center' %}">
                <div class="col-12 rounded">
                    <h5 class="h5">Call Center</h5>
                    <p>Work part time</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-6 border rounded mx-auto text-center">
            <a href="{% url 'grind:back-alley' %}">
                <div class="col-12 rounded">
                    <h5 class="h5">Back Alley</h5>
                    <p>Get your hands dirty</p>
                </div>
            </a>
        </div>
    </div>

    </div>
</div>
{% endif %}
{% endblock %}