{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Downtown</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:city' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>
    
    <div class="row py-5">

        <div class="col-10 card mx-auto text-center">
            <a href="{% url 'grind:store' %}">
                <div class="col rounded-top">
                    <h5 class="display-5 pt-2">Store</h5>
                    <p class="lead">Some items might come in handy</p>
                </div>
            </a>
        </div>

        <div class="col-10 card mx-auto text-center">
            <a href="{% url 'grind:call-center' %}">
                <div class="col rounded-top">
                    <h5 class="display-5 pt-2">Call Center</h5>
                    <p class="lead">Make some money on the side</p>
                </div>
            </a>
        </div>

        <div class="col-10 card mx-auto text-center">
            <a href="{% url 'grind:back-alley' %}">
                <div class="col rounded-top">
                    <h5 class="display-5 pt-2">Back Alley</h5>
                    <p class="lead">Get your hands dirty</p>
                </div>
            </a>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}