{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="h-100 overview" id="downtown-background">
    <div class="text-center all-game-bg-img" id="downtown-background-img">

        <div class="row">
            <a class="text-center" href="{% url 'grind:city' %}">
                <div class="col-2 text-center m-3 rounded">
                    <i class="fas fa-arrow-left text-white btn return-arrow"></i>
                </div>

            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link my-3" href="{% url 'grind:store' %}">
                <h3 class="h3">Store</h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link my-3" href="{% url 'grind:call-center' %">
                <h3 class="h3">Call Center</h3>
            </a>
        </div>

        <div class="row my-3">
            <a class="col-10 col-sm-8 col-md-6 col-lg-4 rounded mx-auto text-center city-link my-3" href="{% url 'grind:back-alley' %}">
                <h3 class="h3">Back Alley</h3>
            </a>
        </div>

    </div>
</div>

{% endif %}
{% endblock %}