{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container" id="background-fill">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Salary</h1>
        </div>
        <div class="col text-center">
            <h1 class="display-4">Struggle</h1>
        </div>
    </div>
    <div class="row">
    <a class="col-12" href="{% url 'grind:house' %}">
        <div class="col-10 mx-auto text-center" id="enter-link">
            Enter
        </div>
    </a>
    </div>
    <div class="row fixed-bottom" id="enter-grind">

</div>
</div>
{% endif %}
{% endblock %}