{% extends "grind/game_base.html" %}
{% load static %}
{% load mathfilters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'grind/css/hamburger.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="h-100 overview" id="house-background">
    <div class="text-center" id="house-background-img">

        <div class="row">
            <a class="text-center" href="{% url 'grind:city' %}">
                <div class="col-2 text-center m-3 rounded">
                    <i class="fas fa-arrow-left text-info return-arrow"></i>
                </div>

            </a>
        </div>

        <button class="action" aria-label="Opens and closes the menu">
            <span class="menuIcon material-icons" aria-hidden="true">
                Actions
            </span>
            <span class="xIcon material-icons d-none" aria-hidden="true">
                Close
            </span>
        </button>
        <ul class="menu rounded">
            <li>
                <div class="menuLink lead d-none" id="sleep" aria-label="">Sleep</div>
            </li>
            <li>
                <div class="menuLink lead d-none" id="homeStudy" aria-label="">Study</div>
            </li>
            <li>
                <div class="menuLink lead d-none" id="homeCharm" aria-label="">Practice</div>
            </li>
        </ul>

    </div>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-bed"></i>
        </span>
        {% if character.energy_penalty > 0%}
        <h3 class="h3 text-danger text-center">Energy penalty of {{character.energy_penalty}} applied</h3>
        <h2 class="h2 text-light text-center">Energy restored to: {{ 100|sub:character.energy_penalty }}</h3>
        {% else %}
        <h2 class="h2 text-light text-center">Energy fully restored</h2>
        {% endif %}
        <hr>
        <h2 class="h2 text-light text-center">Starting day {{ character.day|add:1 }}</h2>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="fas fa-book-open"></i>
        </span>
        
        <h2 class="h2 text-light text-center">Coding increased</h2>
        <hr>
        <h3 class="h3 text-light text-center">Level {{ character.coding|add:1 }}</h3>
        <h3 class="h3 text-light text-center">Energy cost: {{ 40|sub:character.endurance }}</h3>
    </h1>
</div>

<div class="loading-overlay">
    <h1 class="text-light logo-font loading-icon text-white">
        <span class="icon">
            <i class="far fa-calendar-alt"></i>
        </span>
        
        <h2 class="h2 text-light text-center">Charm increased</h2>
        <hr>
        <h3 class="h3 text-light text-center">Level {{ character.charm|add:1 }}</h3>
        <h3 class="h3 text-light text-center">Energy cost: {{ 40|sub:character.endurance }}</h3>
    </h1>
</div>


{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_home.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/hamburger.js' %}"></script>
{% endblock %}