{% extends "grind/game_base.html" %}
{% load static %}
{% load mathfilters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'grind/css/hamburger.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="h-100 overview" id="house-background">
    <div class="text-center" id="house-background-img">

        <div class="row">
            <a class="text-center" href="{% url 'grind:city' %}">
                <div class="col-2 text-center m-3 rounded">
                    <i class="fas fa-arrow-left text-info return-arrow"></i>
                </div>
                
            </a>
        </div>

        <!-- <div class="d-none row fixed-bottom action-btns">
            <div class="col-3 mx-auto text-center">
                <div class="rounded border border-dark update-button" id="sleep">
                    <h5 class="h5">Sleep</h5>
                    <p class="hide">Rest up</p>
                </div>
            </div>
            <div class="col-3 mx-auto text-center">
                <div class="rounded border border-dark update-button" id="homeStudy">
                    <h5 class="h5">Study</h5>
                    <p class="hide">Energy {{ 40|sub:character.endurance }}</p>
                </div>
            </div>
            <div class="col-3 mx-auto text-center">
                <div class="rounded border border-dark update-button" id="homeCharm">
                    <h5 class="h5">Practice</h5>
                    <p class="hide">Energy {{ 40|sub:character.endurance }}</p>
                </div>
            </div>
        </div> -->

        <button class="hamburger" aria-label="Opens and closes the menu">
            <span class="menuIcon material-icons" aria-hidden="true">
              Actions
            </span>
            <span class="xIcon material-icons d-none" aria-hidden="true">
              Close
            </span>
          </button>
          <ul class="menu rounded" id="menu-bg">
            <li><div class="menuLink lead d-none" id="sleep" aria-label="Go to Home page">Sleep</div></li>
            <li><div class="menuLink lead d-none" id="homeStudy" aria-label="Go to Rules page">Study</div></li>
            <li><div class="menuLink lead d-none" id="homeCharm" aria-label="Go to Contact page">Practice</div></li>
          </ul>
        
    </div>
</div>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-bed"></i>
        </span>
    </h1>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_home.js' %}"></script>
    <script type="text/javascript" src="{% static 'grind/js/hamburger.js' %}"></script>
{% endblock %}