{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<div class="container h-100 overview" id="house-background">
    <div class="row bg-dark">
        <div class="col text-center">
            <h1 class="display-4 text-white">Home</h1>
        </div>
    </div>

    <div class="row" id="house-background-img"></div>
    
    
    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:city' %}">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

    <div class="row pt-5">
        <div class="col-12">
            <div class="col-4 mx-auto text-center" id="sleep">
                <div class="rounded-top">
                    <h5 class="h5">Sleep</h5>
                    <p class="">Rest up</p>
                </div>
            </div>
            <div class="col-4 mx-auto text-center" id="homeStudy">
                <div class="rounded-top">
                    <h5 class="h5">Study</h5>
                    <p class="">+1 coding</p>
                </div>
            </div>
            <div class="col-4 mx-auto text-center" id="homeStudy">
                <div class="rounded-top">
                    <h5 class="h5">Practice Charm<</h5>
                    <p class="">+1 coding</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-bed"></i>
        </span>
    </h1>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_home.js' %}"></script>
{% endblock %}