{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">

    <div class="row pt-5" id="hint-row">
        <div class="col-4 mx-auto text-center">
            <button aria-label="Hint nutton" id="intro-btn" class="btn"><i class="far fa-comment-dots"></i></button>
        </div>
    </div>

    <div class="row pt-2 text-center hide" id="intro-box">
        <div class="col-10 mx-auto">
            <p class="lead hide intro-text">Life is hard.</p>
            <p class="lead hide intro-text">Sometimes even unfair.</p>
            <p class="lead hide intro-text">It seems that life has given you quite a few lemons recently. It doesn't look too good for you.</p>
            <p class="lead hide intro-text">Oh, and the massive debt you've piled up doesn't help much either.</p>
            <p class="lead hide intro-text">They called up you yesterday and said that you have 30 days to pay.</p>
            <p class="lead hide intro-text">Maybe you should go get a job.</p>
            <p class="lead hide intro-text">... how does one do that? You don't have any skills to speak of.</p>
            <p class="lead hide intro-text">The agency could help, but they wouldn't want anything to do with you in your current state.</p>
            <p class="lead hide intro-text">Maybe you should become a self-taught programmer.</p>
            <p class="lead hide intro-text">Better go work on your skills. Explore a bit.</p>
            <p class="lead hide intro-text">The clock is ticking.</p>
            <p class="lead hide intro-text">Best of luck to you!</p>
            <div class="hide intro-text">
                <h3 class="h3 mb-4">Objectives</h3>
                <p>- You have 30 days to get a job</p>
                <p>- Work on your intellect, coding, and charm</p>
                <p>- Land interviews via the agency and pass all of them</p>
                <p>- Explore and check out the different approaches to improving your character</p>
                <p>- Land a spot on the leaderboard by completing the game fast</p>
                <a class="lead mt-2 btn border" id="start-btn" href="{% url 'grind:enter' %}">START</a>
            </div>
            
        </div>

        <button aria-label="Next hint button" id="next-btn" class="border btn col-4 mx-auto hide">Next</button>
    </div>

</div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/intro.js' %}"></script>
{% endblock %}