{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Library</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:city' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>
    
    <div class="row py-5"> 

        <div class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto text-center" id="study">
            <div class="card-body rounded-top admin-confirmed">
                <h5 class="card-title">Study</h5>
                <p class="card-text round">Work on your coding and your brain</p>
                <p class="danger">Odds: 2 to 1</p>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'grind/js/ajax_library.js' %}"></script>
{% endblock %}