{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">

    <div class="row py-5">
        <a class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto p-4 text-center" href="{% url 'grind:downtown' %}"
            style="width: 18rem;">
            <div class="card-body rounded-top admin-confirmed">
                <h5 class="card-title">Back to downtown</h5>
            </div>
        </a>    
        
        <div class="col-10 card mx-auto p-4 text-center" style="width: 18rem;">
                <div class="card-body rounded-top admin-confirmed">
                    <h5 class="card-title">Selection</h5>    
                </div>
                <ul class="list-group list-group-flush border"></ul>
                {% for item in items %}
                    {% if item.id in character.items %}
                    <li class="list-group-item"><small>{{item.name}} - ¥{{item.price}}</small> Purchased</li>
                    {% else %}
                    <a href="{% url 'grind:add-item' item.id %}">
                        <li class="list-group-item">{{item.name}} - ¥{{item.price}}</li>
                    </a>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

    </div>
</div>
{% endif %}
{% endblock %}