{% extends "grind/game_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container h-100 mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">Store</h1>
        </div>
    </div>

    <div class="row">
        <a class="col-3 position-absolute" href="{% url 'grind:downtown' %}">
            <i class="fa-solid fa-circle-arrow-left">Back</i>
        </a>
    </div>

    <div class="row py-5"> 
        
        <div class="col-10 card mx-auto p-4 text-center" style="width: 18rem;">
                <div class="card-body rounded-top admin-confirmed">
                    <h5 class="card-title">Selection</h5>    
                </div>
                <ul class="list-group list-group-flush border"></ul>
                {% for item in items %}
                    {% if item in character_items %}
                        <li class="list-group-item">{{item.name}} - ¥{{item.price}} <strong>Purchased</strong></li>
                    {% else %}
                        <li class="list-group-item item-buy" permanent={{item.permanent}} value={{item.id}} price={{item.price}} id="item{{item.id}}">{{item.name}} - ¥{{item.price}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

    </div>
</div>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'grind/js/ajax_store.js' %}"></script>
{% endblock %}