{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container h-100 mt-5 text-center">
    <div class="row py-5">
        <div class="col">
          <h2>{% trans "Change Password" %}</h2>
          <hr>
        </div>
    </div>    

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button id="password-change-btn" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
