{% extends "base.html" %}
{% load static %}

{% if user.is_authenticated %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Shop</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    
    <div class="row my-2">
        <div class="col mx-auto filter">
            <div class="sort-select-wrapper">
                <select id="sort-selector" class="custom-select custom-select-sm rounded border">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>{% if current_sorting == 'None_None' %}Filter{% else %}Reset{% endif %}</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% for product in products %}
                    {% if product.name == "Premium Membership" and profile.paid %}
                    <div class="d-none">
                    {% else %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 px-1">
                    {% endif %}
                        <a href="{% url 'shop:product_details' product.id %}">
                            <div class="card border product-height my-2 text-center">
                                {% if product.image %}
                                    <img class="card-img-top img-fluid product-img mx-auto pt-2" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="card-img-top img-fluid product-img mx-auto pt-2" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}

                                <div class="card-body">
                                    <p class="lead product-name">{{ product.name }}</p>
                                </div>

                                <div class="bg-white pt-0 mx-auto">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead text-left font-weight-bold">€{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>
</div>
<!-- button from walkthrough -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
{% endif %}

<!-- Javascript from CI walkthorugh -->
{% block postloadjs %}
{{ block.super }}
<!-- block.super makes sure we append this code to anything already in the block, instead of replacing it -->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != 'reset') {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })

</script>
{% endblock %}