{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
        <div class="row mb-5">
            <div class="col-12 mx-auto">
                <h1 class="h1 text-center">
                    Leaderboard
                </h1>
            </div>
        </div>

        <ul class="list-group col-8 col-md-6 mx-auto">
            {% for entry in leaderboard %}
            <li class="list-group-item"><strong>{{ forloop.counter }}. {{ entry.user.username | title }}</strong>: Day {{entry.char_day}}</li>
            {% endfor %}
        </ul>
</div>

{% endblock %}