{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row my-5">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
        <div class="row mb-5">
            <div class="col-10 my-auto mx-auto">
                <h1 class="display-4 text-center">
                    Leaderboard
                </h1>
            </div>
        </div>

        <ul class="list-group">
            {% for entry in leaderboard %}
            <li class="list-group-item">{{ forloop.counter }} - {{ entry.user.username | title }}: Day {{entry.char_day}}</li>
            {% endfor %}
          </ul>
</div>

{% endblock %}