{% extends "grind/game_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'interview/css/interview.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated and character.level == 3 %}

    <!-- Intro section -->
  <section id="introduction">
    <div class="row pt-3 intro">
        <div class="col-10 mx-auto text-center">
             <h1 class="h1">Welcome to the coding interview</h1>
        </div>
    </div>

    <div class="row mt-3 hide" id="interviewer">
      <div class="col-10 text-center mx-auto">
        <img class="img-fluid" src="{{ interviewer.image.url }}" alt="Picture of {{interviewer.name}} from Salary Struggle" id="coding-img">
      </div>
    </div>

    <div class="row pt-3 intro-interviewer hide">
      <div class="col-10 mx-auto text-center">
           <p class="lead">Best of luck!</p>
      </div>
    </div>

    <div class="row pt-3 hide interviewer-presentation mb-5">
      <div class="col-10 mx-auto text-center">
           <p class="lead">{{interviewer.intro}}</p>
      </div>
    </div>
  </section>

    <div class="row pt-3" id="next-button">
      <button class="btn mx-auto icon" id="next-comment">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Question Section -->
    <section class="hide" id="question-game-area">

      <div class="row">
        <div class="col text-center mx-auto">
          <ul class="list-inline">
            <li class="list-inline-item lead">Question</li>
            <li class="list-inline-item lead" id="question">1</li>
            <li class="list-inline-item lead">Impression:</li>
            <li class="list-inline-item lead" id="impression">1</li>
            <li class="list-inline-item lead">/</li>
            <li class="list-inline-item lead" id="impress-level">{{interviewer.impress_lvl}}</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-10 mx-auto text-center mt-1">
          <p class="lead font-weight-bold" id="question-text">Question</h2>
        </div>
      </div>

      <div class="row answer-buttons mt-5" id="bubble-row">
        <div class="col-10 mx-auto text-center mt-1">
          <p class="hide" id="bubble"></p>
        </div>
      </div>

      <!-- <div class="next-question hide">
        <button aria-label="Next Question" id="next-question" class="greyscale"><i class="fas fa-arrow-right"></i></button>
      </div> -->

      <div class="row hide" id="question-answers">
        <div class="col-10 text-center mx-auto mt-2">
          <button aria-label="Answer A" class="btn border my-3 answer-btn col-4 col-md-8 code-answer" id="answer-a" value="a"></button>
          <button aria-label="Answer B" class="btn border my-3 answer-btn col-4 col-md-8 code-answer" id="answer-b" value="b"></button>
          <button aria-label="Answer C" class="btn border my-3 answer-btn col-4 col-md-8 code-answer" id="answer-c" value="c"></button>
        </div>
      </div>

      <div class="row mt-3 fixed-bottom mt-5 code-skills" id="skill-answers">
        <div class="col-10 mx-auto text-center mt-3">
          <h4 class="h4 text center">Skills</h4>
        </div>
        <div class="col-10 text-center mx-auto">
          <button aria-label="Charm Button" id="charm-btn" class="btn border m-2 col-3 skill-btn" value="charm">Charm</button>
          <button aria-label="Intellect Button" id="intellect-btn" class="btn border m-2 col-3 skill-btn" value="intellect">Intellect</button>
          <button aria-label="Coding Button" id="coding-btn" class="btn border m-2 col-3 skill-btn" value="coding">Coding</button>
        </div>
      </div>
    </section>

    <div class="d-none">
      <div id="answer-charm"></div>
      <div id="answer-intellect"></div>
      <div id="answer-coding"></div>
    </div>
  
    <div class="d-none">
      <div id="char-charm">{{character.charm}}</div>
      <div id="char-intellect">{{character.intellect}}</div>
      <div id="char-coding">{{character.coding}}</div>
    </div>

    <div class="d-none">
      <div id="interw-charm">{{interviewer.coldness}}</div>
      <div id="interw-intellect">{{interviewer.intellect}}</div>
      <div id="interw-coding">{{interviewer.coding}}</div>
      <div id="interw-impress">{{interviewer.impress_lvl}}</div>
    </div>

    <!----------------- End section --------------------->

    <section class="hide" id="ending-success">
      <div class="row pt-3 ending-success">
          <div class="col-10 mx-auto text-center">
               <h1 class="h1">Sweet, you pulled through!</h1>
          </div>
      </div>
  
      <div class="row pt-3 ending-success">
        <div class="col-10 mx-auto text-center top-text-interview">
             <p class="lead">Your level went up! Check out the agency anytime for your next step</p>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-10 mx-auto text-center">
          <a href="{% url 'grind:house' %}">
              <h3 class="h3">Head home and rest up</h3>
          </a>
        </div>
      </div>
      
    </section>

    <section class="hide" id="ending-fail">
      <div class="row pt-3 ending-success">
          <div class="col-10 mx-auto text-center">
               <h1 class="h1">Damn, this could have gone better.</h1>
          </div>
      </div>
  
      <div class="row pt-3 ending-fail">
        <div class="col-10 mx-auto text-center top-text-interview">
             <p class="lead">Don't worry, this won't be your last attempt. Head back to the agency anytime and try again!</p>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-10 mx-auto text-center">
          <a href="{% url 'grind:house' %}">
              <h3 class="h3">Return home</h3>
          </a>
        </div>
      </div>
      
    </section>


{% csrf_token %}
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'interview/js/coding_interview.js' %}"></script>
    <script type="text/javascript" src="{% static 'interview/js/questions.js' %}"></script>
{% endblock %}

