{% extends "grind/game_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'interview/css/interview.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated and character.level == 4 %}

    <!-- Intro section -->
  <section id="introduction">
    <div class="row pt-3 intro">
        <div class="col-10 mx-auto text-center">
             <h1 class="h1">Welcome to your third interview</h1>
        </div>
    </div>

    <!-- <div class="row pt-3 intro-interviewer hide" id="head-intro">
      <div class="col-10 mx-auto text-center top-text-interview">
           <h1 class="display-4">Here's your interviewer</h1>
      </div>
    </div> -->

    <!-- <div class="row pt-3 interviewer-presentation hide">
      <div class="col-10 mx-auto text-center top-text-interview">
           <h1 class="display-4">{{interviewer.name}}</h1>
      </div>
    </div> -->

    <div class="row mt-5 hide" id="interviewer">
      <div class="col-10 text-center mx-auto">
        <img class="img-fluid" src="{{ interviewer.image.url }}" alt="Picture of third interviewer, {{ interviewer.name }}" id="third-intw-img">
      </div>
    </div>

    <div class="row pt-3 intro-interviewer hide">
      <div class="col-10 mx-auto text-center">
           <p class="lead">Best of luck!</p>
      </div>
    </div>

    <div class="row pt-3 hide interviewer-presentation mb-5">
      <div class="col-10 mx-auto text-center">
           <p class="lead">{{interviewer.intro}}</p>
      </div>
    </div>
  </section>

    <div class="row pt-3" id="next-button">
      <button class="btn mx-auto icon" id="next-comment">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Question Section -->
    <section class="hide" id="question-game-area">

      <!-- overview with questions number and impress level   -->
      <div class="row">
        <div class="col text-center mx-auto">
          <ul class="list-inline">
            <li class="list-inline-item lead">Question</li>
            <li class="list-inline-item lead" id="question">1</li>
            <li class="list-inline-item lead">Impression:</li>
            <li class="list-inline-item lead" id="impression">1</li>
            <li class="list-inline-item lead">/</li>
            <li class="list-inline-item lead" id="impress-level">{{interviewer.impress_lvl}}</li>
          </ul>
        </div>
      </div>

      <!-- timer -->
      <div class="row" id="timer-row">
        <div class="col-10 mx-auto text-center">
          <h2 class="h2" id="timer">Get ready!</h2>
        </div>
      </div>

      <!-- question-text -->
      <div class="row">
        <div class="col-10 mx-auto text-center mt-1">
          <p class="lead font-weight-bold" id="question-text">Question</h2>
        </div>
      </div>

      <div class="d-none">
        <p id="answer-intellect"></p>
        <p id="answer-charm"></p>
        <p id="answer-coding"></p>
        <p id="answer-wild"></p>
      </div>

      <!-- speech bubble -->
      <div class="row answer-buttons mt-5 hide" id="bubble-row">
        <div class="col-10 mx-auto text-center mt-1">
          <p class="hide" id="bubble"></p>
        </div>
      </div>

      <!-- row with numbers from 1-10 for calculation questions -->
      <div class="row answer-buttons">
          <div class="col-10 col-lg-6 mx-auto text-center mt-1" id="number-buttons">
              <p class="col-12 lead" id="answer-text">Hurry! Use the buttons!</p>
            <button aria-label="Number button 0" id="number0-btn" class="btn border col-2 number-btn" value="0">0</button>
            <button aria-label="Number button 1" id="number1-btn" class="btn border col-2 number-btn" value="1">1</button>
            <button aria-label="Number button 2" id="number2-btn" class="btn border col-2 number-btn" value="2">2</button>
            <button aria-label="Number button 3" id="number3-btn" class="btn border col-2 number-btn" value="3">3</button>
            <button aria-label="Number button 4" id="number4-btn" class="btn border col-2 number-btn" value="4">4</button>
            <button aria-label="Number button 5" id="number5-btn" class="btn border col-2 number-btn" value="5">5</button>
            <button aria-label="Number button 6" id="number6-btn" class="btn border col-2 number-btn" value="6">6</button>
            <button aria-label="Number button 7" id="number7-btn" class="btn border col-2 number-btn" value="7">7</button>
            <button aria-label="Number button 8" id="number8-btn" class="btn border col-2 number-btn" value="8">8</button>
            <button aria-label="Number button 9" id="number9-btn" class="btn border col-2 number-btn" value="9">9</button>
            <hr>
            <button aria-label="Delete button" id="delete-btn" class="btn border col-4 bg-danger number-btn" value="delete">Delete</button>
            <button aria-label="Submit button" id="submit-number-btn" class="btn border bg-success col-4" value="submit">Submit</button>
        </div>
        <div class="col-10 col-lg-6 mx-auto text-center mt-1 hide" id="code-buttons">
         <p class="col-12 lead" id="answer-code"></p>
         <hr>

         <!-- math operator buttons -->
         <div class="row pt-2">
           <div class="col-12">
            <button aria-label="Code button +" id="codeplus-btn" class="btn border col-3 code-btn" value="+">+</button>
            <button aria-label="Code button -" id="codeminus-btn" class="btn border col-3 code-btn" value="-">-</button>
            <button aria-label="Code button *" id="codemulti-btn" class="btn border col-3 code-btn" value="*">*</button>
           </div>
         </div>

         <!-- for math produce questions -->
          <div class="row pt-2">
            <div class="col-12">
              <button aria-label="Code button 1" id="code1-btn" class="btn border col-2 code-btn mx-1" value="1">1</button>
              <button aria-label="Code button 2" id="code2-btn" class="btn border col-2 code-btn mx-1" value="2">2</button>
              <button aria-label="Code button 3" id="code3-btn" class="btn border col-2 code-btn mx-1" value="3">3</button>
              <button aria-label="Code button 4" id="code4-btn" class="btn border col-2 code-btn mx-1" value="4">4</button>
            </div>
          </div>

          <hr>
          <!-- delete & submit buttons for math produce questions -->
          <div class="row">
            <div class="col-12">
              <button aria-label="Delete button" id="delete-btn" class="btn mx-auto text-center border col-4 bg-danger code-btn" value="delete">Delete</button>
              <button aria-label="Submit button" id="submit-code-btn" class="btn mx-auto text-center border bg-success col-4" value="submit">Submit</button>
            </div>
          </div>
          
        </div>

        <!-- skill buttons for skill questions -->
        <div class="row mt-3 fixed-bottom my-5 answer-buttons hide third-intw-skills" id="skill-answers">
          <div class="col-10 mx-auto text-center mt-3">
            <h4 class="h4 text center">Choose your approach</h4>
          </div>
          <div class="col-10 text-center mx-auto">
            <button aria-label="Charm Button" id="answer-charm-btn" class="btn border m-2 col-3 skill-btn" value="charm">Charm</button>
            <button aria-label="Intellect Button" id="answer-intellect-btn" class="btn border m-2 col-3 skill-btn" value="intellect">Intellect</button>
            <button aria-label="Coding Button" id="answer-coding-btn" class="btn border m-2 col-3 skill-btn" value="coding">Coding</button>
          </div>
        </div>

      </div>

    </section>
    
    <!-- Backend values to JS -->
    <div class="d-none">
      <div id="char-charm">{{character.charm}}</div>
      <div id="char-intellect">{{character.intellect}}</div>
      <div id="char-coding">{{character.coding}}</div>
    </div>

    <div class="d-none">
      <div id="interw-charm">{{interviewer.coldness}}</div>
      <div id="interw-intellect">{{interviewer.intellect}}</div>
      <div id="interw-coding">{{interviewer.coding}}</div>
      <div id="interw-impress">{{interviewer.impress_lvl}}</div>
    </div>

    <!----------------- End section --------------------->

    <!-- success -->
    <section class="hide" id="ending-success">
      <div class="row pt-3 ending-success">
          <div class="col-10 mx-auto text-center">
               <h1 class="h1">Sweet, you pulled through!</h1>
          </div>
      </div>
  
      <div class="row pt-3 ending-success">
        <div class="col-10 mx-auto text-center top-text-interview">
             <p class="lead">Your level went up! Check out the agency anytime for your next step</p>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-10 mx-auto text-center">
          <a href="{% url 'grind:house' %}">
              <h3 class="h3">Head back home and get some well deserved rest</h3>
          </a>
        </div>
      </div>
      
    </section>

    <!-- fail -->
    <section class="hide" id="ending-fail">
      <div class="row pt-3 ending-success">
          <div class="col-10 mx-auto text-center">
               <h1 class="h1">Damn, this could have gone better.</h1>
          </div>
      </div>
  
      <div class="row pt-3 ending-fail">
        <div class="col-10 mx-auto text-center top-text-interview">
             <p class="lead">Don't worry, this won't be your last attempt. Head back to the agency anytime and try again!</p>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-10 mx-auto text-center">
          <a href="{% url 'grind:house' %}">
              <h3 class="h3">Return home</h3>
          </a>
        </div>
      </div>
      
    </section>


{% csrf_token %}
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'interview/js/hard_coding_interview.js' %}"></script>
    <script type="text/javascript" src="{% static 'interview/js/questions.js' %}"></script>
{% endblock %}

