{% extends "grind/game_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'interview/css/interview.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated and character.level == 2 %}

    <!-- Intro section -->

    <div class="row pt-3 intro">
        <div class="col-10 mx-auto text-center">
             <h1 class="display-3">Welcome to your first interview</h1>
        </div>
    </div>

    <div class="row pt-3 intro">
      <button class="btn mx-auto icon" id="next-comment">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>

    <div class="row pt-3 interviewer hide">
      <div class="col-10 mx-auto text-center">
           <h1 class="display-4">Here's your interviewer</h1>
      </div>
    </div>

    <div class="row pt-2 interviewer hide">
      <div class="col-10 text-center mx-auto">
        <img class="img-fluid" src="{{ interviewer.image.url }}" alt="" id="hr-img">
      </div>
    </div>

    <div class="row pt-3 interviewer hide">
      <div class="col-10 mx-auto text-center">
           <p class="lead">He doesn't look happy to see you... Maybe you should tread carefully</p>
      </div>
    </div>

    <!-- Question Section -->
    <section class="hide" id="question-game-area">
      <div>
        <h2 class="h2" id="question-text">This is the question</h2>
      </div>
      <div class="answer-buttons">
        <button aria-label="Answer Button 1" id="answer1-btn" class="btn col-3" value="A">Answer 1</button>
        <button aria-label="Answer Button 2" id="answer2-btn" class="btn" value="B">Answer 2</button>
        <button aria-label="Answer Button 3" id="answer3-btn" class="btn" value="C">Answer 3</button>
        <button aria-label="Answer Button 4" id="answer4-btn" class="btn" value="D">Answer 4</button>
      </div>
      <div class="next-question">
        <button aria-label="Next Question" id="next-question" class="greyscale"><i class="fas fa-arrow-right"></i></button>
      </div>
    </section>

{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'interview/js/interview.js' %}"></script>
{% endblock %}

